@model SportsSocialNetwork.Areas.Admin.Models.PlaceDetailViewModel

<style>
    dt, dd {
        font-size: 1.1em;
    }

    .title, .detail {
        font-size: 1.1em;
        color: #000;
    }

    .title {
        font-weight: bold;
        text-align: left;
    }

    .detail {
        margin-left: 2px;
    }
</style>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">Chi tiết sân</h4>
</div>
<div class="modal-body" id="modalBody">
    <div class="row">
        <div class="col-sm-6">
            <div class="carousel slide" id="exampleCarouselDefault" data-ride="carousel">
                <ol class="carousel-indicators carousel-indicators-fall">
                    <li class="active" data-slide-to="0" data-target="#exampleCarouselDefault"></li>
                    <li class="" data-slide-to="1" data-target="#exampleCarouselDefault"></li>
                    <li class="" data-slide-to="2" data-target="#exampleCarouselDefault"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img class="width-full" src="~/Content/assets/photos/placeholder.png" alt="..." />
                    </div>
                    <div class="item">
                        <img class="width-full" src="~/Content/assets/photos/placeholder.png" alt="..." />
                    </div>
                    <div class="item">
                        <img class="width-full" src="~/Content/assets/photos/placeholder.png" alt="..." />
                    </div>
                </div>
                <a class="left carousel-control" href="#exampleCarouselDefault" role="button" data-slide="prev">
                    <span class="icon wb-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#exampleCarouselDefault" role="button"
                   data-slide="next">
                    <span class="icon wb-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel ">
                <div class="panel-heading">
                    <center><h2> Chảo lửa</h2></center>
                </div>
                <div class="panel-body">

                    @*<dl class="dl-horizontal">
                            <dt >Số điện thoại</dt>
                            <dd>@Html.DisplayFor(m=>m.PhoneNumber)</dd>
                            <dt>Email</dt>
                            <dd>@Html.DisplayFor(m => m.Email) manhnvse61271@fpt.edu.vn</dd>
                            <dt>Địa chỉ</dt>
                            <dd>@Html.DisplayFor(m => m.AddressString) 71/88/27 Nguyễn Bặc - Phường 3 - Quận Tân Bình - Thành phố Hồ Chí Minh</dd>
                            <dt>Thời gian hoạt động</dt>
                            <dd>@Html.DisplayFor(m => m.StartTime) - @Html.DisplayFor(m => m.EndTime) </dd>
                        </dl>*@

                    <div>
                        <p>
                            <span class="title">Chủ sân: </span>
                            <span class="detail">@Model.AspNetUser.FullName</span>
                        </p>
                        <p>
                            <span class="title">Số điện thoại: </span>
                            <span class="detail">@Model.PhoneNumber</span>
                        </p>
                        <p>
                            <span class="title">Email: </span>
                            <span class="detail">@Model.Email</span>
                        </p>
                        <p>
                            <span class="title">Địa chỉ: </span>
                            <span class="detail">@Model.AddressString</span>
                        </p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>
                <span class="title">Thời gian hoạt động: </span>
                <span class="detail">@Model.StartTime - @Model.EndTime</span>
            </p>
            <span class="title">Mô tả:</span>
            <span class="detail">@Model.Description</span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>

</div>

