@model SportsSocialNetwork.Models.ViewModels.PostViewModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SSNLayout.cshtml";
    var sport = ViewBag.Sport as IEnumerable<SelectListItem>;
}
@section Styles{
    <link rel="stylesheet" href="~/Content/assets/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/js/sweetAlert/sweetalert.css" />
    <style>
        
        .media{
            overflow:visible
        }
        .media-body{
            overflow:visible
        }
        .select2-dropdown{
            z-index:99999;
        }
        .panel-cover {
            margin: 0 0 10px 0;
        }

        .panel-status {
            margin-bottom: 15px;
        }

        .suggest-group {
            border: 1px solid lightgray;
            overflow: hidden;
            padding-top: 15px;
            margin: 10px;
        }

        .after-run .site-menubar-fold .page, .after-run .site-menubar-fold .site-footer {
            margin-left: 0;
        }

        .after-run .site-menubar-unfold .page, .after-run .site-menubar-unfold .site-footer {
            margin-left: 0;
        }

        .page-aside-inner {
            max-width: 600px;
        }

        .page-main .panel-body {
            padding-top: 0;
        }

        .page-main .page-content {
            padding: 10px;
            padding-right: 0px;
        }

        .panel {
            margin-bottom: 10px;
            font-family: sans-serif;
        }

            .panel.panel-cover {
                margin: 0px;
            }

        .page-aside {
            top: 10px;
        }

            .page-aside .widget-header {
                padding-top: 0px;
            }

        .panel-cover img {
            height: 150px;
        }

        .status-panel {
            padding-top: 5px;
        }

            .status-panel textarea {
                border: none;
                border-bottom: 1px whitesmoke solid;
                resize: none;
            }

        @@media(max-width: 768px) {
            .page-aside-inner {
                position: unset;
            }

            .page-main .page-content {
                padding: 10px;
            }
        }

        .list-group-item {
            font-size: 16px;
        }

        .loadImage {
            height: 90%;
            width: 90%;
        }

        .load {
            text-align: center;
            vertical-align: middle;
        }

        .DocumentList {
            overflow-x: scroll;
            overflow-y: hidden;
            height: 120px;
            width: 100%;
            padding: 0 15px;
        }

        .Document {
            border: solid 1px;
            border-color: #bdc7d8;
            height: 110px;
            width: 100%;
            padding: 0 15px;
        }

        .list-inline li {
            margin: 5px;
            padding: 0;
            height: 100px;
            width: 100px;
        }

        .list-inline {
            white-space: nowrap;
        }

        #check {
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
        
    </style>
}

<div class="row" style="font-family:sans-serif">
    <!--Left side-bar-->
    <div class="col-sm-3">
        <div class="widget widget-shadow text-center">
            <div class="widget-header">
                <div class="widget-header-content">
                    <a class="avatar avatar-lg" href="javascript:void(0)">
                        <img src="@ViewBag.User.AvatarImage" style="height:130px;width:130px">
                    </a>
                    <div class="profile-user"><a style="color:#37474f" href="/profile/index?userid=@ViewBag.User.Id">@ViewBag.User.FullName</a></div>
                    <div class="profile-job">@ViewBag.User.Email</div>
                </div>
            </div>
            <div class="widget-footer">
                <div class="row no-space">
                    <div class="col-xs-4">
                        <strong class="profile-stat-count">@ViewBag.Follower</strong>
                        <span>Người theo dõi</span>
                    </div>
                    <div class="col-xs-4">
                        <strong class="profile-stat-count">@ViewBag.Following</strong>
                        <span>Đang theo dõi</span>
                    </div>
                    <div class="col-xs-4">
                        <strong class="profile-stat-count">@ViewBag.PostCount</strong>
                        <span>Bài viết</span>
                    </div>
                </div>
            </div>
            @if (ViewBag.GroupList != null)
            {
                <div class="example-wrap margin-lg-0" style="text-align:left;">
                    <h4 class="example-title" style="display:inline-block;float:left;">Các nhóm tham gia</h4>
                    <button type="button" style="display:inline-block; float:right;" class="btn btn-pure btn-dark btn-sm icon wb-plus" onclick="showCreateGroupModal()"> Tạo nhóm</button>
                    <div class="clearfix"></div>
                    <ul class="list-group list-group-full">
                        @{
                            foreach (var item in ViewBag.GroupList)
                            {
                                <li class="list-group-item" style="text-align:left;">
                                    <div class="media">
                                        <div class="media-left">
                                            <a class="avatar" href="@Url.Action("Index", "Group", new RouteValueDictionary(new { id = item.Id }))">
                                                <img class="img-responsive" src="@item.Avatar" alt="...">
                                            </a>
                                        </div>
                                        <div class="media-body vertical-align">
                                            <a href="@Url.Action("Index", "Group", new RouteValueDictionary(new { id = item.Id }))" style="text-decoration:none;color:#37474f;">
                                                <h4 class="media-heading vertical-align-middle">@item.Name</h4>
                                            </a>
                                        </div>

                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
                            }

        </div>
    </div>
    <!--END Left side-bar-->
    <!--Main-->
    <div class="col-sm-6">
        <!--Posting status area-->
        <form id="post-form" method="post" autocomplete="off">
            <div class="panel status-panel">
                <div class="panel-heading" style="border-bottom: solid 1px #efefef; padding:5px 0 5px 15px;">
                    <a href='javascript:void(0)' class="post-heading" onclick="addImage()" style="color:#76838f">
                        <i class="fa fa-camera post-heading-icon"></i> Thêm hình ảnh
                    </a>
                </div>
                <div style="height:0px;overflow:hidden">
                    <input type="file" id="selectImage" name="files" multiple />
                </div>
                @Html.TextAreaFor(p => p.PostContent, new { rows = "3", @class = "form-control input-lg", placeholder = "Bạn đang nghĩ gì?" })
                <div id="previewImage" class="example margin-0" style="display:none">
                    <div style="height:120px">
                        <div data-role="container">
                            <div data-role="content">
                                <div class="DocumentList">
                                    <ul id="result" class="list-inline"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right" style="margin: 0">
                    <div class="col-xs-11" style="width: calc(100% - 80px); padding: 0" id="select-sport">
                        <input id="sportSelect" type="text" name="sportSelect"
                               placeholder="Tags" />
                    </div>
                    <div class="col-xs-2" style="max-width: 80px; padding: 0">
                        <input type="submit" style="width: 80px;height:36px" class="btn btn-sm btn-primary" value="Đăng">
                    </div>
                </div>
            </div>
        </form>
        <!--END Posting status area-->
        <!--Post area-->
        <div id="activities" role="tabpanel">
            <ul class="list-group" id="listPost"></ul>
        </div>
        <!--END Post area-->
    </div>
    <!--END Main-->
    <!--Right side-bar-->
    
        <div class="col-sm-3">
            @if (ViewBag.suggestUserList != null)
            {
                <div class="panel" id="suggest-follow-panel">
                    <div class="panel-heading text-center">
                        <h class="panel-title" style="font-family:sans-serif">Gợi ý theo dõi</h>
                    </div>
                    <div class="panel-body">
                        <div class="height-250 check" id="check" data-plugin="scrollable">
                            <div data-role="container">
                                <div data-role="content" id="container">
                                    @foreach (var item in ViewBag.suggestUserList)
                                    {
                                        <div class='comment media suggestion' id="@item.Id">
                                            <div class='media-left'>
                                                <a class='avatar avatar-lg' href='javascript:void(0)'>
                                                    <img style='height:50px;width:50px' src='@item.AvatarImage' alt='...'>
                                                </a>
                                            </div>
                                            <div class='comment-body media-body' >
                                                <a class='comment-author' href='/profile/index?userid=@item.Id'>@item.FullName</a>
                                                <div class='comment-content'>
                                                    @if (item.sameSport != 0)
                                                    {<p>Có chung @item.sameSport sở thích</p>}
                                                </div><button onclick="follow('@item.Id')" class='btn-xs btn-success'><i class='fa fa-rss' aria-hidden='true'></i> Theo dõi</button>
                                            </div>
                                        </div>
                                    }

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            }

            @{
                if (ViewBag.SuggestNews != null)
                {
                    <div class="panel">
                        <div class="panel-heading text-center">
                            <h3 class="panel-title" style="font-family:sans-serif">Gợi ý tin tức nên xem</h3>
                        </div>
                        <div class="panel-body" style="padding:0;padding-bottom:10px">
                            <div class="suggest-group">
                                <div class="col-sm-12">
                                    <div class="overlay">
                                        <img src="@ViewBag.SuggestNews.Image" style="display:block; max-height:100%;max-width:100%;" />
                                        <figcaption class="overlay-bottom overlay-panel overlay-background">
                                            <h4><span class="fa fa-eye"> @ViewBag.SuggestNews.NumOfRead</span></h4>
                                        </figcaption>
                                    </div>
                                    <div class="row">
                                        <div class="clearfix"></div>
                                        <div class="col-sm-12 height-60">
                                            <span class="vertical-align-middle" style="font-weight:bold">@ViewBag.SuggestNews.Title</span>
                                            <span class="vertical-align-middle"><i class="fa fa-pencil" aria-hidden="true"></i> bởi @ViewBag.SuggestNews.AspNetUser.UserName</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-right"><em>Xem những tin khác</em></div>

                    </div>
                }
            }
            
        </div>
    </div>
    <!--END right side-bar-->
    <div class="modal fade" id="editPostForm" aria-hidden="true" role="dialog">
        <div class="modal-dialog">
                <form id="post-formEdit" method="post" autocomplete="off">
                    <input type="hidden" id="postEditId" name="postEditId" value="-1" />
                    <div class="panel status-panel">
                        <div class="modal-header" style="border-bottom: solid 1px #efefef; padding:5px 10px 5px 15px;">
                            <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                            <h4 class="modal-title">Chỉnh sửa bài viết</h4>
                        </div>
                        <div class="panel-heading" style="border-bottom: solid 1px #efefef; padding:5px 0 5px 15px;">
                            <a href='javascript:void(0)' class="post-heading" onclick="addImageEdit()" style="color:#76838f">
                                <i class="fa fa-camera post-heading-icon"></i> Thêm hình ảnh
                            </a>
                        </div>
                        <div style="height:0px;overflow:hidden">
                            <input type="file" id="selectImageEdit" name="files" multiple />
                        </div>
                        <textarea rows="3" class="form-control input-lg" placeholder="Bạn đang nghĩ gì?" name="PostContentEdit" id="PostContentEdit"></textarea>
                        <div id="previewImageEdit" class="example margin-0" style="display:none">
                            <div style="height:120px">
                                <div data-role="container">
                                    <div data-role="content">
                                        <div class="DocumentList">
                                            <ul id="resultEdit" class="list-inline"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-right" style="margin: 0">
                            <div class="col-xs-11 select-sportEdit" style="width: calc(100% - 80px); padding: 0" id="select-sportEdit">
                                <input id="sportSelectEdit" type="text" name="sportSelectEdit"
                                       placeholder="Tags" />
                            </div>
                            <div class="col-xs-2" style="max-width: 80px; padding: 0">
                                <input type="submit" style="width: 80px;height:36px" class="btn btn-sm btn-primary" value="Đăng">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    


        @section scripts{
            <script src="~/Content/assets/js/plugins/jquery.sticky-kit.min.js"></script>
            <script src="~/Content/assets/vendor/magnific-popup/jquery.magnific-popup.js"></script>
            <script src="~/Content/assets/js/components/magnific-popup.js"></script>
            <script src="~/Content/js/post-script.js"></script>
            <script src="~/Content/js/custom-script.js"></script>
            <script src="~/Content/js/sweetAlert/sweetalert.min.js"></script>
            <script>
                $(document).on("submit", "#post-formEdit", function (e) {
                    e.preventDefault();
                    var _updatePostActionName = '@Url.Action("UpdatePost", "Post")';
                    var _loadSavedPostActionName = '@Url.Action("LoadSavedPost", "Post")';
                    var _userId = '@User.Identity.GetUserId()';
                    var _postId = $("#postEditId").val();
                    UpdatePost(_updatePostActionName, _loadSavedPostActionName, _userId, _postId);
                });


                $(document).on("submit", ".comment-form", function (e) {
                    e.preventDefault();
                    var _id = $(this).attr('id');
                    var _commentActionName = '@Url.Action("Comment","PostComment")';
                    var _loadSavedCommentActionName = '@Url.Action("LoadSavedComment", "PostComment")';
                    var _userId = '@User.Identity.GetUserId()';
                    createComment(_commentActionName, _loadSavedCommentActionName, _userId, _id);
                });

                $(document).on("submit", ".comment-formEdit", function (e) {
                    e.preventDefault();
                    var _id = $(this).attr('id');
                    var _updateCommentActionName = '@Url.Action("UpdateComment", "PostComment")';
                    var _loadSavedCommentActionName = '@Url.Action("LoadSavedComment", "PostComment")';
                    updateComment(_updateCommentActionName, _loadSavedCommentActionName, _id);
                });

                

                var _userId = '@User.Identity.GetUserId()';
                var _firstSkip = 0;
                var _skip = 10;
                var _firstTake = 10;
                var _take = 5;
                var _actionName = '@Url.Action("GetNewFeedPost")';
                var _loadMoreCmtActionName = '@Url.Action("getMoreCmtByPostId")';
                var _deletePostActionName = '@Url.Action("DeletePost","Post")';
                var _loadAPostActionName = '@Url.Action("LoadSavedPost", "Post")';
                var _deleteCommentActionName = '@Url.Action("DeleteComment", "PostComment")';
                var _loadACommentActionName = '@Url.Action("LoadSavedComment", "PostComment")';
                var _likeUnlikePostActionName = '@Url.Action("LikeUnlikePost","Like")';
                $(document).ready(function () {
                    loadNewFeedPost(_userId, _firstSkip, _firstTake, _actionName, _loadMoreCmtActionName,_deletePostActionName, _loadAPostActionName,_deleteCommentActionName,_loadACommentActionName,_likeUnlikePostActionName);
                })

                $(window).scroll(function () {
                    if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                        loadNewFeedPost(_userId, _skip, _take, _actionName, _loadMoreCmtActionName,_deletePostActionName, _loadAPostActionName,_deleteCommentActionName,_loadACommentActionName,_likeUnlikePostActionName);
                        _skip = _skip + _take;
                    }
                });

                @*var pageSize = 10;
        var pageIndex = 0;

        $(document).ready(function () {
            GetData();
        });


        function GetData() {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetSuggestFollow","SSN")',
                data:{"pageIndex":pageIndex,"pageSize":pageSize},
                dataType: 'json',
                success: function (data) {
                    if (data != null) {
                        for (var i = 0; i < data.length; i++) {
                            $("#container").append("<div class='comment media'><div class='media-left'>"+
                                    "<a class='avatar avatar-lg' href='javascript:void(0)'>"+
                                        "<img style='height:50px;width:50px' src='"+data[i].AvatarImage+"' alt='...'>"+
                                    "</a></div>"+
                                "<div class='comment-body media-body'>"+
                                    "<a class='comment-author' href='javascript:void(0)'>"+data[i].UserName+"</a>"+
                                    "<div class='comment-content'><p>Có chung "+data[i].sameSport+" sở thích</p></div><button class='btn-xs btn-success'><i class='fa fa-rss' aria-hidden='true'></i> Đăng ký theo dõi</button></div></div>");
                        }
                        pageIndex++;
                    }
                },
                beforeSend : function () {
                    $("#progress").show();
                },
                complete : function () {
                    $("#progress").hide();
                },
                error: function () {
                    alert("Error while retrieving data!");
                }

            });
        }*@

                function follow(id){
                    var update = false;
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("FollowUnfollowUser", "Follow")',
                        data:{"userId":id,"followerId":'@User.Identity.GetUserId()'},
                        dataType: 'json',
                        success: function (data) {
                            if(data.Succeed && data.Message == "Đã theo dõi"){
                                update = true;
                                $('#'+id).hide('slow', function(){ $('#'+id).remove(); });
                                $(".check").resize();
                                var $item = $(".suggestion");
                                if($item.length == 2){
                                    $("#check").removeClass("height-250").addClass("height-150");
                                }
                                if($item.length == 1){
                                    $('#suggest-follow-panel').hide('slow', function(){ $('#suggest-follow-panel').remove(); });
                                }
                            }else{
                                showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                            }
                        },
                        error: function (data) {
                            showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                        },
                    });
                }

                function addImage() {
                    $("#selectImage").click();
                }
                var storedFiles = [];

                function handleFileSelect(e) {
                    var files = e.target.files;
                    if(files.length>0){
                        $("#previewImage").show();
                    }else{
                        $("#previewImage").hide();
                    }
                    var filesArr = Array.prototype.slice.call(files);
                    var output = document.getElementById("result");
                    filesArr.forEach(function(f) {

                        if(!f.type.match("image.*")) {
                            return;
                        }
                        storedFiles.push(f);

                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var li = document.createElement("li");
                            li.innerHTML = "<img class='loadImage' src='" + e.target.result + "'" +
                                        "title='" + f.name + "'/> <a href='javascript:void(0)' data-file='"+f.name+"' onclick='removeFile(this)' class='fa fa-times' style='position:absolute'></a>";
                            output.insertBefore(li,null);

                        }
                        reader.readAsDataURL(f);
                    });

                }



                function removeFile(e){
                    var file = $(e).data("file");
                    for(var i=0;i<storedFiles.length;i++) {
                        if(storedFiles[i].name === file) {
                            storedFiles.splice(i,1);
                            break;
                        }
                    }
                    if(storedFiles.length>0){
                        $("#previewImage").show("slow");
                    }else{
                        $("#previewImage").hide("slow");
                    }
                    $(e).parent().hide('slow', function(){ $(e).parent().remove(); });
                }

                document.getElementById('selectImage').addEventListener('change', handleFileSelect, false);

                var array = @Html.Raw(Json.Encode(
 ((IEnumerable<SelectListItem>)sport).Select(m => new
 {
     id = m.Value,
     text = m.Text
 })
));




                $('#sportSelect').select2({
                    class: 'form-control',
                    width: '100%',
                    multiple: true,
                    maximumSelectionSize: 5,
                    placeholder: "Chọn môn thể thao của bạn",
                    data: array
                });

                $('#commentForm').submit(function (e) {
                    e.preventDefault();
                    var formData = new FormData(document.getElementById('commentForm'));
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("CreateComment","PostComment")',
                        data: formData,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (result) {
                            if (result.Succeed) {
                                showMessage("Cập nhật thành công.", "success", "OK");
                            } else {
                                showErrors(result.Errors);
                                showMessage("Không thể cập nhật.", "error", "OK");

                            }
                        },
                        error: function (result) {
                            showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                        },
                    });
                });

                $('#post-form').submit(function (e) {
                    e.preventDefault();
                    var postId = "-1";
                    var postContent = $("#PostContent").val().trim();
                    if(storedFiles.length!=0 || postContent){
                        var formData = new FormData(document.getElementById('post-form'));
                        for(var i=0, len=storedFiles.length; i<len; i++) {
                            formData.append('uploadImages', storedFiles[i]);
                        }
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("CreatePost","Post")',
                            async: false,
                            data: formData,
                            cache: false,
                            contentType: false,
                            processData: false,
                            success: function (result) {
                                if (result.Succeed) {
                                    $("#PostContent").val("");
                                    $('#select-sport').empty();
                                    $('#select-sport').append("<input id='sportSelect' type='text' name='sportSelect' placeholder='Tags' />");
                                    $('#sportSelect').select2({
                                        width: '100%',
                                        multiple: true,
                                        maximumSelectionSize: 5,
                                        placeholder: "Chọn môn thể thao của bạn",
                                        data: array
                                    });
                                    storedFiles = [];
                                    $("#result").empty();
                                    $("#previewImage").hide();
                                    postId = result.AdditionalData.Id;
                                } else {
                                    showErrors(result.Errors);
                                    showMessage("Không thể cập nhật.", "error", "OK");

                                }
                            },
                            error: function (result) {
                                showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                            },
                        });

                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("LoadSavedPost", "Post")',
                            async: false,
                            data: {"postId" : postId},
                            success: function (result) {
                                if (result.Succeed) {
                                    prependPost(result.AdditionalData);
                                } else {
                                    showErrors(result.Errors);
                                    showMessage("Không thể cập nhật.", "error", "OK");

                                }
                            },
                            error: function (result) {
                                showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                            },
                        });
                    }
                });


            </script>
        }
