@using Microsoft.AspNet.Identity;
@using SportsSocialNetwork.Models.Enumerable;
@{
    Layout = null;
}
<!DOCTYPE html>
<html class="no-js before-run" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">

    <title>SSN-@ViewBag.Title</title>

    <link rel="apple-touch-icon" href="~/Content/assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/Content/images/logo_new.png">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/site.min.css">

    <link rel="stylesheet" href="~/Content/assets/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/flag-icon-css/flag-icon.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/formvalidation/formValidation.css">
    <link rel="stylesheet" href="~/Content/font-awesome-4.6.3/css/font-awesome.min.css">

    <!-- Page -->
    <link rel="stylesheet" href="~/Content/assets/css/pages/profile.css">
    <link rel="stylesheet" href="~/Content/font-awesome-4.6.3/css/font-awesome.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="~/Content/assets/fonts/web-icons/web-icons.min.css">
    <link rel="stylesheet" href="~/Content/assets/fonts/brand-icons/brand-icons.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>


    <link href="~/Content/assets/vendor/select2/select2.css" rel="stylesheet" />
    <script src="~/Content/assets/vendor/modernizr/modernizr.js"></script>
    <script src="~/Content/assets/vendor/breakpoints/breakpoints.js"></script>

    <!--Sweet Alert-->
    <link rel="stylesheet" href="~/Content/js/sweetAlert/sweetalert.css" />
    <script>
        Breakpoints();
    </script>
    <style>
        .logo-link {
            color: #fff;
        }

            .logo-link a span {
                color: #fff;
            }

            .logo-link a {
                text-decoration: none;
            }
    </style>
    <style>
        body {
            background-color: #f1f4f5;
        }

        .page {
            margin-right: 260px;
        }

        .page-content {
            padding: 10px 0 0 0;
        }
        .user-search:hover { 
    background-color: #62a8ea;
}
    </style>
    @RenderSection("styles", false)
</head>
<body class="page-profile">
    <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">

        <div class="navbar-header" style="background-color:#f55f00">
            <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided"
                    data-toggle="menubar">
                <span class="sr-only">Toggle navigation</span>
                <span class="hamburger-bar"></span>
            </button>
            <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse"
                    data-toggle="collapse">
                <i class="icon wb-more-horizontal" aria-hidden="true"></i>
            </button>
            <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-search"
                    data-toggle="collapse">
                <span class="sr-only">Toggle Search</span>
                <i class="icon wb-search" aria-hidden="true"></i>
            </button>
            <a href="@Url.Action("Index","SSN", new { areas=""})">
                <div class="navbar-brand navbar-brand-center site-gridmenu-toggle logo-link">

                    <img class="navbar-brand-logo" src="~/Content/images/logo.png" title="Sports" />
                    <span class="navbar-brand-text"> Sports social network</span>

                </div>
            </a>
        </div>

        <div class="navbar-container container-fluid">
            <!-- Navbar Collapse -->
            <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
                <!-- Navbar Toolbar -->
                <ul class="nav navbar-toolbar">
                    <li class="hidden-float">
                        <a class="icon wb-search" data-toggle="collapse" href="#site-navbar-search" role="button">
                            <span class="sr-only">Toggle Search</span>
                        </a>
                    </li>
                </ul>
                <!-- End Navbar Toolbar -->
                <!-- Navbar Toolbar Right -->
                <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                    <li class="dropdown">
                        <a href="@Url.Action("Index","SSN",new { areas = "" })" aria-expanded="false"
                           role="button">Trang chủ</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" aria-expanded="false"
                            role="button">Tin tức</a>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="javascript:void(0)" title="Notifications" aria-expanded="false"
                           data-animation="slide-bottom" role="button">
                            <i class="icon wb-bell" aria-hidden="true" id="notibell"></i>
                            @*<span class="badge badge-danger up" id="notiCount"></span>*@
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu" id="listNoti">
                            <li class="dropdown-menu-header" role="presentation" id="headNoti">
                                <h5 id="notiTitle">THÔNG BÁO</h5>
                                @*<span class="label label-round label-danger" id="notiLabelCount"></span>*@
                            </li>


                            <li class="list-group notiDiv" role="presentation" style="max-height:400px;">
                                <div data-role="container" style="height:400px;" class="notiDiv">
                                    <div data-role="content" id="notiItems" class="notiDiv">
                                        @*<a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <i class="icon wb-order bg-red-600 white icon-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">A new order has been placed</h6>
                                                    <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">5 hours ago</time>
                                                </div>
                                            </div>
                                        </a>*@
                                    </div>
                                </div>
                            </li>
                            
                            <li class="dropdown-menu-footer" role="presentation" id="notiBottom">
                                <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                                    <i class="icon wb-settings" aria-hidden="true"></i>
                                </a>
                                <a href="@Url.Action("Index", "Notification")" role="menuitem">
                                    Xem tất cả thông báo
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="navbar-avatar dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"
                           data-animation="slide-bottom" role="button">
                            <span class="avatar avatar-online">
                                <img src="~/Content/assets/portraits/5.jpg" alt="...">
                                <i></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu width-250" role="menu">
                            <li role="presentation">
                                <form action="" style="margin:10px" method="post" id="form-">
                                    <a href="#" role="menuitem" onclick="">
                                        <span class="fa fa-globe"></span> Trang chủ
                                    </a>
                                </form>
                            </li>
                            <li role="presentation">
                                <form action="" style="margin:10px" method="post" id="form-">
                                    <a href="#" role="menuitem" onclick="">
                                        <span class="fa fa-key"></span> Đổi mật khẩu
                                    </a>
                                </form>
                            </li>
                            <li role="presentation">
                                <form action="" style="margin:10px" method="post" id="form-">
                                    <a href="#" role="menuitem" onclick="">
                                        <span class="fa fa-users"></span> Tìm người cùng sở thích
                                    </a>
                                </form>
                            </li>
                            <li role="presentation">
                                <form action="" style="margin:10px" method="post" id="form-">
                                    <a href="#" role="menuitem" onclick="">
                                        <span class="fa fa-pencil-square-o"></span> Mời chơi thể thao
                                    </a>
                                </form>
                            </li>
                            <li role="presentation">
                                <form action="@Url.Action("Index","Event", new { area = "" })" style="margin:10px" method="post" id="form-search-event">
                                    <a href="#" role="menuitem" onclick="searchEvent()">
                                        <span class="fa fa-bullhorn"></span> Các sự kiện thể thao
                                    </a>
                                </form>
                            </li>
                            <li role="presentation">
                                <form action="@Url.Action("Index","Place", new { area = "" })" style="margin:10px" method="post" id="form-search-place">
                                    <a href="#" role="menuitem" onclick="searchPlace()">
                                        <span class="fa fa-futbol-o"></span> Tìm nơi chơi thể thao
                                    </a>
                                </form>
                            </li>
                            <li role="presentation">
                                <form action="@Url.Action("Index","Order", new { area = "" })" style="margin:10px" method="post" id="form-order-history">
                                    <a href="#" role="menuitem" onclick="orderHistory()">
                                        <span class="fa fa-history"></span> Lịch sử đặt sân
                                    </a>
                                </form>
                            </li>
                            <li role="presentation">
                                <form action="@Url.Action("LogOff","Account", new { area = "" })" style="margin:10px" method="post" id="form-log-out">
                                    @Html.AntiForgeryToken()
                                    <a href="#" role="menuitem" onclick="logout()">
                                        <span class="icon wb-power"></span> Đăng xuất
                                    </a>
                                </form>
                            </li>
                        </ul>
                    </li>


                </ul>
                <!-- End Navbar Toolbar Right -->
            </div>
            <!-- End Navbar Collapse -->
            <!-- Site Navbar Seach -->
            <div class="collapse navbar-search-overlap col-md-6" style="border:solid 1px;padding:0" id="site-navbar-search">
                <form role="search" autocomplete="off">
                    <div class="form-group">
                        <div class="input-search">
                            <i class="input-search-icon wb-search" aria-hidden="true"></i>
                            <input type="text" id="search-input" class="form-control" name="site-search" placeholder="Search...">
                            <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search"
                                    data-toggle="collapse" aria-label="Close"></button>
                        </div>
                    </div>
                    <div id="showSearch" style="width:100%;height:auto;display:none">

                    </div>
                </form>
            </div>
            <!-- End Site Navbar Seach -->
        </div>
    </nav>
    <!-- Page -->
    <div class="page animsition" style="margin: 0 50px;">
        <div class="page-content container-fluid">
            @RenderBody()
        </div>
    </div>
    <!-- End Page -->
    <!-- Footer -->
    <footer class="site-footer">
        <span class="site-footer-legal">© 2016 SSN - Capstone Project</span>
        <div class="site-footer-right">
           
        </div>
    </footer>


    <!-- Core  -->
    <script src="~/Content/assets/vendor/jquery/jquery.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/bootstrap.js"></script>
    <script src="~/Content/assets/vendor/animsition/jquery.animsition.js"></script>
    <script src="~/Content/assets/vendor/asscroll/jquery-asScroll.js"></script>
    <script src="~/Content/assets/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="~/Content/assets/vendor/asscrollable/jquery.asScrollable.all.js"></script>
    <script src="~/Content/assets/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>

    <!-- Plugins -->
    <script src="~/Content/assets/vendor/switchery/switchery.min.js"></script>
    <script src="~/Content/assets/vendor/intro-js/intro.js"></script>
    <script src="~/Content/assets/vendor/screenfull/screenfull.js"></script>
    <script src="~/Content/assets/vendor/slidepanel/jquery-slidePanel.js"></script>

    <!-- Scripts -->
    <script src="~/Content/assets/js/core.js"></script>
    <script src="~/Content/assets/js/site.js"></script>

    <script src="~/Content/assets/js/sections/menu.js"></script>
    <script src="~/Content/assets/js/sections/menubar.js"></script>
    <script src="~/Content/assets/js/sections/sidebar.js"></script>

    <script src="~/Content/assets/js/configs/config-colors.js"></script>
    <script src="~/Content/assets/js/configs/config-tour.js"></script>

    <script src="~/Content/assets/js/components/asscrollable.js"></script>
    <script src="~/Content/assets/js/components/animsition.js"></script>
    <script src="~/Content/assets/js/components/slidepanel.min.js"></script>
    <script src="~/Content/assets/vendor/formvalidation/formValidation.min.js"></script>
    <script src="~/Content/assets/vendor/formvalidation/framework/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/components/switchery.js"></script>
    <!--Sweet Alert-->
    <script src="~/Content/js/sweetAlert/sweetalert.min.js"></script>

    <script src="~/Content/assets/js/plugins/responsive-tabs.js"></script>
    <script src="~/Content/assets/js/plugins/closeable-tabs.js"></script>
    <script src="~/Content/assets/js/components/tabs.js"></script>
    <script src="~/Content/assets/vendor/select2/select2.full.js"></script>
    <!--Signalr-->
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                    Site.run();
            });
        })(document, window, jQuery);
    </script>
    <script>
        var totalUnreadCount = 0;
        var _notiFirstSkip = 0;
        var _notiFirstTake = 10;
        var _notiSkip = 10;
        var _notiTake = 5;

        function logout() {
            $("#form-log-out").submit();
        }
        function searchPlace() {
            $("#form-search-place").submit();
        }
        function orderHistory() {
            $("#form-order-history").submit();
        }
        function searchEvent() {
            $("#form-search-event").submit();
        }
        var hasUser = false;
        var hasGroup = false;
        $("#search-input").on("keyup", function () {
            var keyword = $("#search-input").val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSearchUserResult", "SSN")',
                async: false,
                data: { "keyword": keyword, "skip": 0, "take": 5 },
                success: function (result) {
                    if (result.Succeed) {
                        $("#showSearch").empty();
                        if (result.AdditionalData != null) {
                            showSearchUser(result.AdditionalData);
                            $("#showSearch").show();
                            hasUser = true;
                        }
                    }
                }
            });
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSearchGroupList", "SSN")',
                async: false,
                data: { "keyword": keyword, "skip": 0, "take": 2 },
                success: function (result) {
                    if (result.Succeed) {
                        if (result.AdditionalData != null) {
                            showSearchGroup(result.AdditionalData);
                            $("#showSearch").show();
                            hasGroup = true;
                        }
                        
                    }
                }
            });
            if (hasGroup || hasUser) {
                $("#showSearch").append("<div tabindex='0' style='padding:10px' class='comment media user-search'><a href='/SSN/SearchDetail?keyword="+keyword+"'>"
                    + "<i class='icon wb-search' aria-hidden='true'></i> Xem toàn bộ kết quả</a></div>");
            }
        });

        function showSearchUser(data) {
            $("#showSearch").append("<div style='background-color:#ffefdf;margin-bottom:5px' tabindex='0' class='padding-left-10'>Cá nhân</div>");
            $(data.userList).each(function () {
                var hobby = "";
                if (this.sameSport != 0) {
                    hobby = "<span class='comment-content'><p>Có chung " + this.sameSport
                        + " sở thích</p></span>";
                }
                var info = "<div tabindex='0' style='padding:0 0 0 10px' class='comment media user-search'><a href='/profile/index?userid="+this.Id+"'>"
                + "<span class='media-left'>"
                + "<span class='avatar avatar-lg'>"
                + "<img style='height:50px;width:50px' src='" + this.AvatarImage + "'>"
                + "</span></span>"
                + "<span class='comment-body media-body'>"
                + "<span class='comment-author'>" + this.FullName + "</span>"
                + hobby + "</span></a></div>";
                $("#showSearch").append(info);

            });

        }

        function showSearchGroup(data) {
            $("#showSearch").append("<div style='background-color:#ffefdf;margin-bottom:5px' tabindex='0' class='padding-left-10'>Hội nhóm</div>");
            $(data.listGroup).each(function () {
                var info = "<div tabindex='0' style='padding:0 0 0 10px' class='comment media user-search'><a href='/Group/Index/"+this.Id+"'>"
                + "<span class='media-left'>"
                + "<span class='avatar avatar-lg'>"
                + "<img style='height:50px;width:50px' src='" + this.Avatar + "'>"
                + "</span></span>"
                + "<span class='comment-body media-body'>"
                + "<span class='comment-author'>" + this.Name + "</span>"
                + "<span class='comment-content'><p>Nhóm " + this.sport.Name
                        + " </p></span>" + "</span></a></div>";
                $("#showSearch").append(info);

            });

        }

    </script>

    <script type="text/javascript">
        $(function signalr() {
            // Declare a proxy to reference the hub.
            var commenthub = $.connection.realTimeHub;
            // Create a function that the hub can call to broadcast messages.
            commenthub.client.send = function (c) {
                //process

                appendNoti(c);

            };
            // Start the connection.
            $.connection.hub.start();
        });

        $(document).ready(function () {
            //Load Noti Count
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetUnreadCount", "Notification")',
                data: { "userId": '@User.Identity.GetUserId()' },
                success: function (result) {
                    if (result != "") {
                        totalUnreadCount = parseInt(result);
                        if (totalUnreadCount != 0) {
                            showPopNoti(totalUnreadCount);
                        }
                    }
                }

            });

            //Load Noti List
            @*$.ajax({
                type: 'POST',
                url: '@Url.Action("LoadNoti", "Notification")',
                data: { "userId": '@User.Identity.GetUserId()', "skip": _notiFirstSkip , "take": _notiFirstTake },
                success: function (result) {
                    var data = result.Data;

                    $(data).each(function () {
                        var noti = renderNoti(this);
                        $("#notiItems").append(noti);

                    })
                }

            });*@
            loadNoti(_notiFirstSkip, _notiFirstTake);
        })

        function appendNoti(data) {        
            var noti = renderNoti(data);
            totalUnreadCount++;
            $("#notiItems").prepend(noti);
            if (totalUnreadCount != 0) {
                showPopNoti(totalUnreadCount);
            }
        }

        function renderNoti(data) {
            var image = "";
            var url = "";
            var colorUnread = "";

            if (data.MarkRead == false) {
                styleUnread = "background-color:#f1f0f0;";
            } else {
                styleUnread = "";
            }

            if (data.Type == parseInt('@((int)NotificationType.Post)')) {
                image = data.AspNetUser1.AvatarImage;
                url = "/Profile/Index?userId=" + data.AspNetUser.Id;
            } else if(data.Type == parseInt('@((int)NotificationType.Order)')) {
                image = "";
                url = "";
            } else if(data.Type == parseInt('@((int)NotificationType.Invitation)')) {
                image = data.AspNetUser1.AvatarImage;
                url = "/Profile/Index?userId=" + data.AspNetUser1.Id;
            } else if(data.Type == parseInt('@((int)NotificationType.GroupInvitation)')) {
                image = data.AspNetUser1.AvatarImage;
                url = "/Group/Index/" + data.Group.Id;
            } else if (data.Type == parseInt('@((int)NotificationType.GroupChallengeInvitation)')) {
                image = data.Group.Avatar;
                url = "/Group/Index/" + data.Group.Id;
            }
            else {

            }

            var noti = '<a class="list-group-item" href="' + url + '" role="menuitem" style="padding: 10px 15px;" onclick="markAsRead('+ data.Id +')">' +
                           '<div class="row height-100">' +
                            '<div class="col-sm-3 vertical-align height-100">' +
                                '<img class="vertical-align-middle" src="' + image + '" width="60" height="60" />' +
                            '</div>' +
                            '<div class="col-sm-9 height-100" style="padding-top:10px;">' +
                                '<h4 class="list-group-item-heading">' + data.Message + '</h4>' +
                                '<p class="list-group-item-text">' + data.CreateDateString + '</p>' +
                            '</div>' +
                        '</div>' +
                        '</a>';

            return noti;
        }

        function markAsRead(id) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("MarkAsRead", "Notification")',
                data: { "id": id },
                success: function (result) {
                    if (result.Succeed) {

                    } else {
                        showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                    }
                }
            })
        };

        function showPopNoti(count) {
            var lable = '<span class="badge badge-danger up" id="notiCount">' + count + '</span>'
            $(lable).insertAfter("#notibell");

            var titleCount = '<span class="label label-round label-danger" id="notiLabelCount">' + count + '</span>';
            $(lable).insertAfter("#notiTitle");
        };

        function loadNoti(skip, take) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("LoadNoti", "Notification")',
                data: { "userId": '@User.Identity.GetUserId()', "skip": skip, "take": take },
                success: function (result) {
                    var data = result.Data;

                    $(data).each(function () {
                        var noti = renderNoti(this);
                        $("#notiItems").append(noti);

                    })
                }

            });
        };

        $(".notiDiv").scroll(function () {
            if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                loadNoti(_notiSkip, _notiTake);
                _notiSkip = _notiSkip + _notiTake;
            }
        });
    </script>


    @RenderSection("scripts", false)
</body>

</html>