@model SportsSocialNetwork.Models.Entities.Event
@{
    ViewBag.Title = "CreateEvent";
}

<div class="panel">
    <div class="panel-heading">
        <h1 class="panel-title">Tạo sự kiện</h1>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <div class="col-md-6 col-md-offset-3">
            @using (Html.BeginForm("createEvent", "Event", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "eventForm", @autocomplete = "off" }))
            {
                <div class="form-group form-material floating">
                    @Html.TextBoxFor(e => e.Name, new { @class = "form-control input-lg" })
                    <label class="floating-label">Tên sự kiện</label>
                </div>
                <div class="form-group form-material floating">
                    @Html.TextBoxFor(e => e.StartDate, "{0:dd/MM/yyyy}", new { @class = "form-control input-lg", @data_plugin = "datepicker", @id = "startDate" })
                    <label class="floating-label">Ngày bắt đầu</label>
                </div>
                <div class="form-group form-material floating">
                    @Html.TextBoxFor(e => e.EndDate, new { @class = "form-control input-lg", @data_plugin = "datepicker" })
                    <label class="floating-label">Ngày kết thúc</label>
                </div>
                <div class="form-group form-material floating">
                    <input type="text" class="form-control input-lg" readonly="" />
                    <input type="file" id="image" name="image" />
                    <label class="floating-label">Hình ảnh</label>
                </div>
                <div class="form-group form-material floating">
                    @Html.TextAreaFor(e => e.Description, new { rows = "3", @class = "form-control input-lg" })
                    <label class="floating-label">Mô tả</label>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-7">
                        @Html.ActionLink("Hủy bỏ", "Index", "Event", null, new { @class = "btn btn-default" })
                        <input type="submit" value="Tạo sự kiện" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);
    </script>

    }