@model SportsSocialNetwork.Models.Entities.Event
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "CreateEvent";
    List<SelectListItem> places = ViewBag.places;
}

<div class="panel">
    <div class="panel-heading">
        <h1 class="panel-title">Tạo sự kiện</h1>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <div class="col-md-6 col-md-offset-3">
            @using (Html.BeginForm("createEvent", "Event", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "eventForm", @autocomplete = "off" }))
            {
                <input type="hidden" value="@User.Identity.GetUserId()" name="CreatorId"/>
                
                <div class="form-group form-material floating">
                    @Html.TextBoxFor(e => e.Name, new { @class = "form-control input-lg" })
                    <label class="floating-label">Tên sự kiện</label>
                </div>
                <div class="form-group form-material floating">
                    @Html.DropDownListFor(e => e.PlaceId, places, new { @class = "form-control input-lg"})
                    <label class="floating-label">Địa điểm</label>
                </div>
                <div class="form-group form-material floating">
                    @Html.TextBoxFor(e => e.StartDate, "{0:dd/MM/yyyy}", new { @class = "form-control input-lg", @data_placement = "right", @data_align = "top", @data_plugin = "datepicker",  @id = "startDate" })
                    <label class="floating-label">Ngày bắt đầu</label>
                </div>
                <div class="form-group form-material floating">
                    @Html.TextBoxFor(e => e.EndDate, "{0:dd/MM/yyyy}", new { @class = "form-control input-lg", @data_plugin = "datepicker", @id = "endDate" })
                    <label class="floating-label">Ngày kết thúc</label>
                </div>
                <div class="form-group form-material floating">
                    <input type="text" class="form-control input-lg" readonly="" />
                    <input type="file" id="image" name="image" />
                    <label class="floating-label">Hình ảnh</label>
                </div>
                <div class="form-group form-material floating">
                    @Html.TextAreaFor(e => e.Description, new { rows = "3", @class = "form-control input-lg" })
                    <label class="floating-label">Mô tả</label>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-7">
                        @Html.ActionLink("Hủy bỏ", "Index", "Event", null, new { @class = "btn btn-default" })
                        <input type="submit" id="submitBtn" value="Tạo sự kiện" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);

        $(document).on('change', "#startDate", function () {
            $('#eventForm').formValidation('revalidateField', 'StartDate');
        });
        $(document).on('change', "#endDate", function () {
            $('#eventForm').formValidation('revalidateField', 'EndDate');
        });

        $('#startDate').datepicker({
            format: "dd/mm/yyyy"
        });
        $('#endDate').datepicker({
            format: "dd/mm/yyyy"
        });
        // It is equivalent to use
        //$('#eventForm').formValidation('revalidateField', 'StartDate');

        //Validation
        (function () {
            $('#eventForm').formValidation({
                framework: "bootstrap",
                button: {
                    selector: '#submitBtn',
                    disabled: 'disabled'
                },
                icon: null,
                fields: {
                    Name: {
                        validators: {
                            notEmpty: {
                                message: 'Tên sự kiện không được trống'
                            }
                        }
                    },
                    PlaceId: {
                        validators: {
                            notEmpty: {
                                message: 'Địa điểm không được trống'
                            }
                        }
                    },
                    StartDate: {
                        validators: {
                            notEmpty: {
                                message: 'Ngày bắt đầu không được trống'
                            },
                            date: {
                                format: 'DD/MM/YYYY',
                                message: 'Ngày không phù hợp',
                                min: '@DateTime.Now.ToString("dd/MM/yyyy")',
                                max: 'EndDate'
                            }
                        }
                    },
                    EndDate: {
                        validators: {
                            notEmpty: {
                                message: 'Ngày kết thúc không được trống'
                            },
                            date: {
                                format: 'DD/MM/YYYY',
                                message: 'Ngày không phù hợp',
                                min: 'StartDate'
                            }
                        }
                    },
                    Description: {
                        validators: {
                            notEmpty: {
                                message: 'Mô tả không được trống'
                            }
                        }
                    },
                    type_numberic: {
                        validators: {
                            integer: {
                                message: 'The value is not an number'
                            }
                        }
                    },
                    type_date: {
                        validators: {
                            date: {
                                format: 'YYYY/MM/DD'
                            }
                        }
                    }
                }
            });
        })();
    </script>

    }