@using SportsSocialNetwork.Models.Enumerable;
@using SportsSocialNetwork.Models.Utilities;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Danh sách các sự kiện";
}

@*<style>
    .datepicker {
        z-index: 1151 !important;
    }
</style>*@

<div class="panel">
    <div class="panel-body">
        <div class="col-md-6">
            <h3>Danh sách các sự kiện</h3>
        </div>
        <div class="col-md-6 text-right">
            <a href="/PlaceOwner/Event/CreateEvent" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Tạo mới sự kiện</a>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-body">
        <table class="table table-striped table-bordered table-hover" id="listEventTable">
            <thead>
                <tr>
                    <th>Số thứ tự</th>
                    <th>Tên sự kiện</th>
                    <th>Hình ảnh</th>
                    <th>Ngày bắt đầu</th>
                    <th>Ngày kết thúc</th>
                    <th>Trạng thái</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modalEventDetail" aria-hidden="true"
     aria-labelledby="modalEventDetail" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="event-detail-modal-container"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateEventModal" aria-hidden="true"
     aria-labelledby="updateEventModal" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="event-update-modal-container"></div>
        </div>
    </div>
</div>


@section Scripts{

    <script>
        var count = 1;

        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);



        $('body').on('focus', ".datepicker", function () {
            $(this).datepicker();
        })

        function deleteEventModal(id) {

            showConfirmDeleteItem("Bạn có chắc chắn muốn xóa sự kiện này không?",
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("deleteEvent")',
                        data: { id: id },
                        success: function (data) {
                            if (data === "success") {
                                //showMessage("Xóa địa điểm thành công", "success", "OK");
                                location.href = '@Url.Action("index")'
                            }
                            else {
                                showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                            }
                        },
                        error: function (error) {
                            showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                        }
                    });
                }
            });

            //bootbox.dialog({
            //    message: "Bạn có chắc muốn xóa sự kiện này?",
            //    title: "Xác nhận xóa",
            //    buttons: {
            //        success: {
            //            label: "Hủy",
            //            className: "btn-default",
            //            callback: function () {

            //            }
            //        },
            //        danger: {
            //            label: "Đồng ý",
            //            className: "btn-danger",
            //            callback: function () {
            //                $.ajax({
            //                    url: "/PlaceOwner/Event/deleteEvent",
            //                    data: {
            //                        format: 'json',
            //                        id: id
            //                    },
            //                    error: function () {
            //                        alert("Problem!")
            //                    },
            //                    success: function (data) {
            //                        if (data === "success") {
            //                            bootbox.alert("Đã xóa thành công", function () {
            //                                $('#updateEventModal').modal('toggle');
            //                                RefreshTable();
            //                            });

            //                        }
            //                    },
            //                    type: 'POST'
            //                })
            //            }
            //        }
            //    }
            //});
        };

        function deleteEvent(id) {
            showConfirmDeleteItem("Bạn có chắc chắn muốn xóa sự kiện này không?",
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("deleteEvent")',
                        data: { id: id },
                        success: function (data) {
                            if (data === "success") {
                                showMessage("Xóa địa điểm thành công", "success", "OK");
                                RefreshTable();
                            }
                            else {
                                showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                            }
                        },
                        error: function (error) {
                            showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                        }
                    });
                }
            });

            //bootbox.dialog({
            //    message: "Bạn có chắc muốn xóa sự kiện này?",
            //    title: "Xác nhận xóa",
            //    buttons: {
            //        success: {
            //            label: "Hủy",
            //            className: "btn-default",
            //            callback: function () {

            //            }
            //        },
            //        danger: {
            //            label: "Đồng ý",
            //            className: "btn-danger",
            //            callback: function () {
            //                $.ajax({
            //                    url: "/PlaceOwner/Event/deleteEvent",
            //                    data: {
            //                        format: 'json',
            //                        id: id
            //                    },
            //                    error: function () {
            //                        alert("Problem!")
            //                    },
            //                    success: function (data) {
            //                        if (data === "success") {
            //                            bootbox.alert("Đã xóa thành công", function () {
            //                                RefreshTable();
            //                            });

            //                        }
            //                    },
            //                    type: 'POST'
            //                })
            //            }
            //        }
            //    }
            //});
        };

        function scriptForPartialView() {

            (function (document, window, $) {
                'use strict';

                var Site = window.Site;
                $(document).ready(function () {
                    Site.run();
                });
            })(document, window, jQuery);

            CKEDITOR.replace('Description');

            $('#startDate').datepicker({
                format: "dd/mm/yyyy"
            });
            $('#endDate').datepicker({
                format: "dd/mm/yyyy"
            });

            $(document).on('change', "#startDate", function () {
                $('#eventForm').formValidation('revalidateField', 'StartDate');
            });
            $(document).on('change', "#endDate", function () {
                $('#eventForm').formValidation('revalidateField', 'EndDate');
            });

            var std = $("#startDate").val();

            //Validation
            (function () {
                $('#eventForm').formValidation({
                    framework: "bootstrap",
                    button: {
                        selector: '#submitBtn',
                        disabled: 'disabled'
                    },
                    icon: null,
                    fields: {
                        Name: {
                            validators: {
                                notEmpty: {
                                    message: 'Tên sự kiện không được trống'
                                }
                            }
                        },
                        PlaceId: {
                            validators: {
                                notEmpty: {
                                    message: 'Địa điểm không được trống'
                                }
                            }
                        },
                        StartDate: {
                            validators: {
                                notEmpty: {
                                    message: 'Ngày bắt đầu không được trống'
                                },
                                date: {
                                    format: 'DD/MM/YYYY',
                                    message: 'Ngày không phù hợp',
                                    min: std,
                                    max: 'EndDate'
                                }
                            }
                        },
                        EndDate: {
                            validators: {
                                notEmpty: {
                                    message: 'Ngày kết thúc không được trống'
                                },
                                date: {
                                    format: 'DD/MM/YYYY',
                                    message: 'Ngày không phù hợp',
                                    min: 'StartDate'
                                }
                            }
                        },
                        //Description: {
                        //    validators: {
                        //        notEmpty: {
                        //            message: 'Mô tả không được trống'
                        //        }
                        //    }
                        //},
                        type_numberic: {
                            validators: {
                                integer: {
                                    message: 'The value is not an number'
                                }
                            }
                        },
                        type_date: {
                            validators: {
                                date: {
                                    format: 'YYYY/MM/DD'
                                }
                            }
                        }
                    }
                });
            })();

            $('#eventForm').submit(function (e) {
                e.preventDefault();

                for (instance in CKEDITOR.instances)
                    CKEDITOR.instances[instance].updateElement();
                var formData = new FormData(document.getElementById('eventForm'));
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("updateEvent")',
                    data: formData,
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.Succeed) {
                            showMessage("Cập nhật thành công", "success", "OK");
                            $('#updateEventModal').modal('hide');
                            RefreshTable();

                        } else {
                            showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                        }

                    },
                    error: function (result) {
                        showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                    },
                });


            });
        }

        function showDetail(id) {
            $.ajax({
                url: '@Url.Action("EventDetailModal")',
                type: 'Get',
                data: { id: id },
                success: function (data) {
                    $('#event-detail-modal-container').html(data);
                    $('#modalEventDetail').modal('show');
                },
                error: function (error) {
                    showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                }
            });

        }

        function showUpdate(id) {
            $.ajax({
                url: '@Url.Action("EventDetail")',
                type: 'Get',
                data: { id: id },
                success: function (data) {
                    $('#event-update-modal-container').html(data);
                    $('#updateEventModal').modal('show');
                    scriptForPartialView();
                },
                error: function (error) {
                    showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                }
            });
        }

        function RefreshTable() {
            count = 1;
            var oTable = $("#listEventTable").dataTable();
            oTable._fnPageChange(0);
            oTable._fnAjaxUpdate();
        };

        function InitDatatable() {

            $("#listEventTable").DataTable({
                "bRetrieve": true,
                "bServerSide": true,
                "bScrollCollapse": true,
                "bSort": true,
                "sAjaxSource": "/PlaceOwner/Event/GetData",
                "bProcessing": true,
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "userID", "value": '@User.Identity.GetUserId()' });
                },
                "aLengthMenu": [10, 20, 50],
                "oLanguage": {
                    "sSearch": "Tìm kiếm:",
                    "sZeroRecords": "Không có dữ liệu phù hợp",
                    "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                    "sEmptyTable": "Không có dữ liệu",
                    "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                    "sLengthMenu": "Hiển thị _MENU_ dòng",
                    "sProcessing": "Đang xử lý...",
                    "oPaginate": {
                        "sPrevious": "Trang trước",
                        "sNext": "Trang kế"
                    }
                },

                @*"fnDrawCallback": function (settings) {
                    $(':checkbox').change(function () {
                        if ($(this).prop('checked') == true) {
                            $.ajax({
                                url: "/BlogPostManage/@ViewBag.storeId/@ViewBag.storeName/BlogPost/ChangeStatus",
                                type: 'POST',
                                data: {
                                    'blogPostId': $(this).val(),
                                    'status': 'Activate'
                                },
                                dataType: 'json',
                                success: function (result) {
                                    ReDrawDatatable("listBlogPostTable");
                                }
                            });
                        } else {
                            $.ajax({
                                url: "/BlogPostManage/@ViewBag.storeId/@ViewBag.storeName/BlogPost/ChangeStatus",
                                type: 'POST',
                                data: {
                                    'blogPostId': $(this).val(),
                                    'status': 'Deactivate'
                                },
                                dataType: 'json',
                                success: function (result) {
                                    ReDrawDatatable("listBlogPostTable");
                                }
                            });
                        }
                    });
                },*@
                "aoColumnDefs": [
                    {
                        "aTargets": [0],
                        "mRender": function (data, type, o) {
                            return count++;
                        }
                    },
                    {
                        "aTargets": [1],
                        "bSortable": false,
                        "mRender": function (data, type, o) {
                            return o[1];
                        }
                    },
                    {
                        "aTargets": [2],
                        "bSortable": false,
                        "mRender": function (data, type, o) {
                            if (o[5] === '' || o[5] == "" || o[5] == null)
                            {
                                return "<img src='~/Content/images/no_image.jpg' width='100' />";
                            }
                            return "<img src='" + o[5] + "' width='100' />";
                        }
                    },
                    {
                        "aTargets": [3],
                        "bSortable": false,
                        "mRender": function (data, type, o) {
                            var date = new Date(parseInt(o[3].substr(6)));
                            var month = parseInt(date.getMonth()) + 1;
                            var formattedDate = date.getDate() + "/" + month + "/" + date.getFullYear();
                            return "<p>" + formattedDate + "</p>";
                        }
                    },
                    {
                        "aTargets": [4],
                        "bSortable": false,
                        "mRender": function (data, type, o) {
                            var date = new Date(parseInt(o[4].substr(6)));
                            var month = parseInt(date.getMonth()) + 1;
                            var formattedDate = date.getDate() + "/" + month + "/" + date.getFullYear();
                            return "<p>" + formattedDate + "</p>";
                        }
                    },
                    {
                        "aTargets": [5],
                        "bSortable": false,
                        "mRender": function (data, type, o) {
                            var label = '';
                            if (o[6] == parseInt('@((int)EventStatus.Operating)')) {
                                label = "<span class='label label-lg label-outline label-success'>@Utils.GetEnumDescription(EventStatus.Operating).ToString()</span>";
                            } else if (o[6] == parseInt('@((int)EventStatus.Closed)')) {
                                label = "<span class='label label-lg label-outline label-dark'>@Utils.GetEnumDescription(EventStatus.Closed).ToString()</span>"
                            } else {
                                label = '<span class="label label-outline label-default label-lg">Không xác định</span>';
                            }
                            return label;
                        }
                    },
                    {
                        "aTargets": [6],
                        "bSortable": false,
                        "mRender": function (data, type, o) {
                            var viewDetailBtn = "<a href='javascript:void(0)' class='btn btn-success' data-target='#modalEventDetail' data-toggle='modal' onclick='showDetail(" + o[0] + ")'><i class='fa fa-eye' aria-hidden='true'></i></a>";
                            var updateBtn = "<a href='javascript:void(0)' class='btn btn-warning' data-target='#updateEventModal' data-toggle='modal' onclick='showUpdate(" + o[0] + ")'><i class='fa fa-pencil-square-o' aria-hidden='true'></i></a>";
                            var deleteBtn = "<a href='javascript:void(0)' class='btn btn-danger' onclick='deleteEvent(" + o[0] + ")'><i class='fa fa-trash-o' aria-hidden='true'></i></a>";
                            return viewDetailBtn + '&nbsp;' + updateBtn + '&nbsp;' + deleteBtn;;
                        }
                    }

                ],

            });
        };

        $(document).ready(function () {
            InitDatatable();
            RefreshTable();
            //loadlist();
        });

    </script>

    }