@using Microsoft.AspNet.Identity;
@using SportsSocialNetwork.Models.Enumerable;
@{
    ViewBag.Title = "Thông báo";
    Layout = "~/Views/Shared/_SSNLayout.cshtml";
}


<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Danh sách các thông báo của bạn</h3>
            </div>
            <div class="panel-body">
                <div class="list-group" id="listNotiPage">
                   
                </div>
            </div>
        </div>
        
    </div>
</div>


@section scripts {

    <script>
        var firstSkip = 0;
        var firstTake = 10;
        var _skip = 10;
        var _take = 10;
        $(document).ready(function () {
            loadNotiPage(firstSkip, firstTake);
        });

        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                loadNotiPage(_skip, _take);
                _skip = _skip + _take;
            }
        });

        function loadNotiPage(skip, take) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("LoadNoti", "Notification")',
                data: {
                    userId: '@User.Identity.GetUserId()',
                    skip: skip,
                    take: take,
                },
                success: function (result) {
                    if (result.Succeed) {
                        var data = result.Data;
                        $(data).each(function () {
                            var noti = renderNoti_page(this);

                            $("#listNotiPage").append(noti);
                        })
                    } else {
                        showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                    }
                },
                error: function () {
                    showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                }
            })
        }

        function renderNoti_page(data) {

            var image = "";
            var url = "";
            var styleUnread = "";

            if (data.MarkRead == false) {
                styleUnread = "background-color:#edf2fa;";
            } else {
                styleUnread = "";
            }

            if (data.Type == parseInt('@((int)NotificationType.Post)')) {
                image = data.AspNetUser1.AvatarImage;
                url = "/Profile/Index?userId=" + data.AspNetUser.Id;
            } else if(data.Type == parseInt('@((int)NotificationType.Order)')) {
                image = "";
                url = "";
            } else if(data.Type == parseInt('@((int)NotificationType.Invitation)')) {
                image = data.AspNetUser1.AvatarImage;
                url = "/Profile/Index?userId=" + data.AspNetUser1.Id;
            } else if(data.Type == parseInt('@((int)NotificationType.GroupInvitation)')) {
                image = data.AspNetUser1.AvatarImage;
                url = "/Group/Index/" + data.Group.Id;
            } else if (data.Type == parseInt('@((int)NotificationType.GroupChallengeInvitation)')) {
                image = data.Group.Avatar;
                url = "/Group/Index/" + data.Group.Id;
            }
            else {

            }

            var noti = '<a class="list-group-item" href="' + url + '" style="height:100px; padding:0;'+ styleUnread +'">' +
                        '<div class="row height-100">' +
                            '<div class="col-sm-3 vertical-align height-100">' +
                                '<img class="vertical-align-middle" src="'+ image +'" width="90" height="90" />' +
                            '</div>' +
                            '<div class="col-sm-9 height-100" style="padding-top:10px;">' +
                                '<h4 class="list-group-item-heading">' + data.Message + '</h4>' +
                                '<p class="list-group-item-text">' + data.CreateDateString + '</p>' +
                            '</div>' +
                        '</div>' +
                    '</a>';
            return noti;
        }
    </script>

    }