@using SportsSocialNetwork.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "";
}

<!DOCTYPE html>
<html class="no-js before-run" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">

    <title>Login | SSN</title>

    <link rel="apple-touch-icon" href="../../Content/assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/Content/images/logo_new.png">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../../Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Content/assets/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="../../Content/assets/css/site.min.css">

    <link rel="stylesheet" href="../../Content/assets/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="../../Content/assets/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="../../Content/assets/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="../../Content/assets/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="../../Content/assets/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="../../Content/assets/vendor/flag-icon-css/flag-icon.css">


    <!-- Page -->
    <link rel="stylesheet" href="../../Content/assets/css/pages/login.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="../../Content/assets/fonts/web-icons/web-icons.min.css">
    <link rel="stylesheet" href="../../Content/assets/fonts/brand-icons/brand-icons.min.css">
    <script src="../../Content/assets/vendor/modernizr/modernizr.js"></script>
    <script src="../../Content/assets/vendor/breakpoints/breakpoints.js"></script>
    <script>
        Breakpoints();
    </script>
    <style>
        p, label, a {
            font-size: large;
        }

        .text-danger {
            text-align: left;
        }
    </style>
</head>
<body class="page-login layout-full">
    <!-- Page -->
    <div class="page animsition vertical-align text-center" data-animsition-in="fade-in"
         data-animsition-out="fade-out">
        >
        <div class="page-content vertical-align-middle">
            <div class="brand">
                <img class="brand-img" src="~/Content/images/logo_new.png" alt="..." style="max-width:100px">
                <h2 class="brand-text">SPORT SOCIAL NETWORK</h2>
            </div>
            <p>Đăng nhập để bắt đầu</p>
            <form method="post" action="@Url.Action("Login")">
                @Html.AntiForgeryToken()
                <div class="summary-errors alert alert-danger alert-dismissible" style="display: block; text-align:left">
                    <button type="button" class="close" aria-label="Close" data-dismiss="alert">
                        <span aria-hidden="true">×</span>
                    </button>
                    @Html.ValidationSummary()
                </div>

                <div class="form-group">
                    @*<label class="sr-only" for="inputName">Tài khoản</label>*@


                    <div class="input-group" id="inputUsername">
                        <span class="input-group-addon">
                            <i class="icon wb-envelope" aria-hidden="true"></i>
                        </span>
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control input-lg", placeholder = "Tên tài khoản", id = "inputName" })

                    </div>
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "help-block text-danger" })
                </div>
                <div class="form-group">

                    <div class="input-group" id="inputPassword">
                        <span class="input-group-addon">
                            <i class="icon wb-lock" aria-hidden="true"></i>
                        </span>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", placeholder = "Mật khẩu", id = "inputName" })

                    </div>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "help-block text-danger" })

                </div>
                <div class="form-group clearfix">
                    <div class="checkbox-custom checkbox-inline pull-left">
                        @Html.CheckBoxFor(m => m.RememberMe, new { @id = "inputCheckbox" })

                        <label for="inputCheckbox">Nhớ tài khoản này</label>
                    </div>
                    @Html.ActionLink("Quên mật khẩu?", "ForgotPassword", new { @class = "pull-right" })

                </div>
                <button type="submit" class="btn btn-primary btn-block btn-lg">Đăng nhập</button>
            </form>
            <p>Không có tài khoản? <a href="@Url.Action("Register")">Tạo ngay</a></p>
        </div>
    </div>
    <!-- End Page -->
    <!-- Core  -->
    <script src="../../Content/assets/vendor/jquery/jquery.js"></script>
    <script src="../../Content/assets/vendor/bootstrap/bootstrap.js"></script>
    <script src="../../Content/assets/vendor/animsition/jquery.animsition.js"></script>
    <script src="../../Content/assets/vendor/asscroll/jquery-asScroll.js"></script>
    <script src="../../Content/assets/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="../../Content/assets/vendor/asscrollable/jquery.asScrollable.all.js"></script>
    <script src="../../Content/assets/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>

    <!-- Plugins -->
    <script src="../../Content/assets/vendor/switchery/switchery.min.js"></script>
    <script src="../../Content/assets/vendor/intro-js/intro.js"></script>
    <script src="../../Content/assets/vendor/screenfull/screenfull.js"></script>
    @*<script src="../../Content/assets/vendor/slidepanel/jquery-slidePanel.js"></script>*@

    <script src="../../Content/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Scripts -->
    <script src="../../Content/assets/js/core.js"></script>
    <script src="../../Content/assets/js/site.js"></script>

    <script src="../../Content/assets/js/sections/menu.js"></script>
    <script src="../../Content/assets/js/sections/menubar.js"></script>
    <script src="../../Content/assets/js/sections/sidebar.js"></script>

    <script src="../../Content/assets/js/configs/config-colors.js"></script>
    <script src="../../Content/assets/js/configs/config-tour.js"></script>

    <script src="../../Content/assets/js/components/asscrollable.js"></script>
    <script src="../../Content/assets/js/components/animsition.js"></script>
    @*<script src="../../Content/assets/js/components/slidepanel.js"></script>*@
    <script src="../../Content/assets/js/components/switchery.js"></script>
    <script src="../../Content/assets/js/components/jquery-placeholder.js"></script>

    <script>
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);
        $(document).ready(function () {
            @if (ViewData.ModelState["LoginError"] == null){
                <text>
            $('.summary-errors').hide();
            </text>
            }else{
               <text>
            $('.summary-errors').show();
            </text>
            }

            @if ((ViewData.ModelState["Username"]!=null && ViewData.ModelState["Username"].Errors.Count >0))
            {
                 <text>
            $('#inputUsername').addClass("has-error")
            </text>
            }else
            {
                  <text>
            $('#inputUsername').removeClass("has-error")
            </text>
            }
            @if ((ViewData.ModelState["Password"] != null && ViewData.ModelState["Password"].Errors.Count > 0))
            {
                <text>
            $('#inputPassword').addClass("has-error")
           </text>
            }else
            {
                <text>
            $('#inputPassword').removeClass("has-error")
          </text>
            }

        });
    </script>

</body>

</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}