<!DOCTYPE html>
<html class="no-js before-run" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">

    <title>Dashboard | Remark Admin Template</title>

    <link rel="apple-touch-icon" href="~/Content/assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/Content/assets/images/favicon.ico">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/site.min.css">

    <link rel="stylesheet" href="~/Content/assets/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/flag-icon-css/flag-icon.css">

    <!-- Plugin -->
    <link rel="stylesheet" href="~/Content/assets/vendor/select2/select2.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/bootstrap-select/bootstrap-select.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/chartist-js/chartist.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/formvalidation/formValidation.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/jt-timepicker/jquery-timepicker.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.css">   
    <link rel="stylesheet" href="~/Content/assets/vendor/asrange/asRange.css"> 
    <link rel="stylesheet" href="~/Content/assets/vendor/multi-select/multi-select.css">



    <link rel="stylesheet" href="~/Content/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.css">

    <link href="~/Content/js/sweetAlert/sweetalert.css" rel="stylesheet" />

    <link href="~/Content/css/custom-css.css" rel="stylesheet" />

    <!--Clock Picker-->
    <link rel="stylesheet" href="~/Content/assets/vendor/clockpicker/clockpicker.css">

    <!--DataTable-->
    <link rel="stylesheet" href="~/Content/assets/vendor/datatables-bootstrap/dataTables.bootstrap.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/datatables-fixedheader/dataTables.fixedHeader.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/datatables-responsive/dataTables.responsive.css">

    <!--Upload-->
    <link rel="stylesheet" href="~/Content/assets/vendor/blueimp-file-upload/jquery.fileupload.css">

    <!-- Page -->
    <link rel="stylesheet" href="~/Content/assets/fonts/weather-icons/weather-icons.css">
    <link rel="stylesheet" href="~/Content/assets/css/dashboard/v1.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="~/Content/assets/fonts/web-icons/web-icons.min.css">
    <link rel="stylesheet" href="~/Content/assets/fonts/brand-icons/brand-icons.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    <link href="~/Content/js/sweetAlert/sweetalert.css" rel="stylesheet" />

    <link href="~/Content/css/custom-css.css" rel="stylesheet" />

    <link href="~/Content/js/sweetAlert/sweetalert.css" rel="stylesheet" />

    <link href="~/Content/css/custom-css.css" rel="stylesheet" />

    

    

    <!--[if lt IE 9]>
      <script src="~/Content/assets/vendor/html5shiv/html5shiv.min.js"></script>
      <![endif]-->
    <!--[if lt IE 10]>
      <script src="~/Content/assets/vendor/media-match/media.match.min.js"></script>
      <script src="~/Content/assets/vendor/respond/respond.min.js"></script>
      <![endif]-->
    <!-- Scripts -->
    <script src="~/Content/assets/vendor/modernizr/modernizr.js"></script>
    <script src="~/Content/assets/vendor/breakpoints/breakpoints.js"></script>
    <script>
    Breakpoints();
    </script>
</head>
<body class="dashboard">
    <!--[if lt IE 8]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

    <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">

        <div class="navbar-header" style="background-color:#f55f00;">
            <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided"
                    data-toggle="menubar">
                <span class="sr-only">Toggle navigation</span>
                <span class="hamburger-bar"></span>
            </button>
            <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse"
                    data-toggle="collapse">
                <i class="icon wb-more-horizontal" aria-hidden="true"></i>
            </button>
            <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-search"
                    data-toggle="collapse">
                <span class="sr-only">Toggle Search</span>
                <i class="icon wb-search" aria-hidden="true"></i>
            </button>
            <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
                <img class="navbar-brand-logo" src="~/Content/images/logo.png" title="Sports" />
                <span class="navbar-brand-text"> Sports social network</span>
            </div>
        </div>

        <div class="navbar-container container-fluid" style="background-color:#f55f00;">
            <!-- Navbar Collapse -->
            <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
                <!-- Navbar Toolbar -->
                <ul class="nav navbar-toolbar">
                    <li class="hidden-float" id="toggleMenubar">
                        <a data-toggle="menubar" href="#" role="button">
                            <i class="icon hamburger hamburger-arrow-left">
                                <span class="sr-only">Toggle menubar</span>
                                <span class="hamburger-bar"></span>
                            </i>
                        </a>
                    </li>
                    <li class="hidden-float">
                        <a class="icon wb-search" data-toggle="collapse" href="#site-navbar-search" role="button">
                            <span class="sr-only">Toggle Search</span>
                        </a>
                    </li>
                </ul>
                <!-- End Navbar Toolbar -->
                <!-- Navbar Toolbar Right -->
                <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                    <li class="dropdown">
                        <a class="navbar-avatar dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"
                           data-animation="slide-bottom" role="button">
                            <span class="avatar avatar-online">
                                <img src="~/Content/assets/portraits/5.jpg" alt="...">
                                <i></i>
                            </span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="javascript:void(0)" title="Notifications" aria-expanded="false"
                           data-animation="slide-bottom" role="button">
                            <i class="icon wb-bell" aria-hidden="true"></i>
                            <span class="badge badge-danger up">5</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
                            <li class="dropdown-menu-header" role="presentation">
                                <h5>NOTIFICATIONS</h5>
                                <span class="label label-round label-danger">New 5</span>
                            </li>

                            <li class="list-group" role="presentation">
                                <div data-role="container">
                                    <div data-role="content">
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <i class="icon wb-order bg-red-600 white icon-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">A new order has been placed</h6>
                                                    <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">5 hours ago</time>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <i class="icon wb-user bg-green-600 white icon-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Completed the task</h6>
                                                    <time class="media-meta" datetime="2015-06-11T18:29:20+08:00">2 days ago</time>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <i class="icon wb-settings bg-red-600 white icon-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Settings updated</h6>
                                                    <time class="media-meta" datetime="2015-06-11T14:05:00+08:00">2 days ago</time>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <i class="icon wb-calendar bg-blue-600 white icon-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Event started</h6>
                                                    <time class="media-meta" datetime="2015-06-10T13:50:18+08:00">3 days ago</time>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <i class="icon wb-chat bg-orange-600 white icon-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Message received</h6>
                                                    <time class="media-meta" datetime="2015-06-10T12:34:48+08:00">3 days ago</time>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown-menu-footer" role="presentation">
                                <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                                    <i class="icon wb-settings" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:void(0)" role="menuitem">
                                    All notifications
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="javascript:void(0)" title="Messages" aria-expanded="false"
                           data-animation="slide-bottom" role="button">
                            <i class="icon wb-envelope" aria-hidden="true"></i>
                            <span class="badge badge-info up">3</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
                            <li class="dropdown-menu-header" role="presentation">
                                <h5>MESSAGES</h5>
                                <span class="label label-round label-info">New 3</span>
                            </li>

                            <li class="list-group" role="presentation">
                                <div data-role="container">
                                    <div data-role="content">
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <span class="avatar avatar-sm avatar-online">
                                                        <img src="~/Content/assets/portraits/2.jpg" alt="..." />
                                                        <i></i>
                                                    </span>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Mary Adams</h6>
                                                    <div class="media-meta">
                                                        <time datetime="2015-06-17T20:22:05+08:00">30 minutes ago</time>
                                                    </div>
                                                    <div class="media-detail">Anyways, i would like just do it</div>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <span class="avatar avatar-sm avatar-off">
                                                        <img src="~/Content/assets/portraits/3.jpg" alt="..." />
                                                        <i></i>
                                                    </span>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Caleb Richards</h6>
                                                    <div class="media-meta">
                                                        <time datetime="2015-06-17T12:30:30+08:00">12 hours ago</time>
                                                    </div>
                                                    <div class="media-detail">I checheck the document. But there seems</div>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <span class="avatar avatar-sm avatar-busy">
                                                        <img src="~/Content/assets/portraits/4.jpg" alt="..." />
                                                        <i></i>
                                                    </span>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">June Lane</h6>
                                                    <div class="media-meta">
                                                        <time datetime="2015-06-16T18:38:40+08:00">2 days ago</time>
                                                    </div>
                                                    <div class="media-detail">Lorem ipsum Id consectetur et minim</div>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <span class="avatar avatar-sm avatar-away">
                                                        <img src="~/Content/assets/portraits/5.jpg" alt="..." />
                                                        <i></i>
                                                    </span>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Edward Fletcher</h6>
                                                    <div class="media-meta">
                                                        <time datetime="2015-06-15T20:34:48+08:00">3 days ago</time>
                                                    </div>
                                                    <div class="media-detail">Dolor et irure cupidatat commodo nostrud nostrud.</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown-menu-footer" role="presentation">
                                <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                                    <i class="icon wb-settings" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:void(0)" role="menuitem">
                                    See all messages
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li id="toggleChat">
                        <a data-toggle="site-sidebar" href="javascript:void(0)" title="Chat" data-url="site-sidebar.tpl">
                            <i class="icon wb-chat" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" data-animation="slide-bottom"
                           aria-expanded="false" role="button">
                            <span class="icon wb-settings"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                                <a href="javascript:void(0)" role="menuitem">
                                    <span class="fa fa-globe"></span> Trang chủ
                                </a>
                            </li>
                            @*<li role="presentation">
                                <a href="@Url.Action("index", "SSN", new { area = "" })" role="menuitem">
                                    <span class="fa fa-globe"></span> Quay lại mạng xã hội
                                </a>
                            </li>*@
                            @*<li role="presentation">
                                <a href="javascript:void(0)" role="menuitem">
                                    <span class="fa fa-users"></span> Tìm người cùng sở thích ở gần bạn
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="javascript:void(0)" role="menuitem">
                                    <span class="fa fa-pencil-square-o"></span> Gửi lời mời chơi thể thao
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="javascript:void(0)" role="menuitem">
                                    <span class="fa fa-list-alt"></span> Quản lý địa điểm A
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="javascript:void(0)" role="menuitem">
                                    <span class="fa fa-list-alt"></span> Quản lý địa điểm B
                                </a>
                            </li>*@
                            <li role="presentation">
                                <form action="@Url.Action("LogOff","Account", new { area = "" })" method="post" id="form-log-out" hidden>
                                    @Html.AntiForgeryToken()
                                    
                                </form>
                                <a href="#" role="menuitem" onclick="logout()">
                                    <span class="icon wb-power"></span> Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- End Navbar Toolbar Right -->
            </div>
            <!-- End Navbar Collapse -->
            <!-- Site Navbar Seach -->
            <div class="collapse navbar-search-overlap" id="site-navbar-search">
                <form role="search">
                    <div class="form-group">
                        <div class="input-search">
                            <i class="input-search-icon wb-search" aria-hidden="true"></i>
                            <input type="text" class="form-control" name="site-search" placeholder="Search...">
                            <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search"
                                    data-toggle="collapse" aria-label="Close"></button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End Site Navbar Seach -->
        </div>
    </nav>
    <div class="site-menubar">
        <div class="site-menubar-body">
            <div>
                <div>
                    <ul class="site-menu">
                        <li class="site-menu-item open">
                            <a href="@Url.Action("index","Place")" data-slug="dashboard">
                                <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                                <span class="site-menu-title">Quản lý địa điểm</span>

                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a href="@Url.Action("index","Order")" data-slug="dashboard">
                                <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                                <span class="site-menu-title">Quản lý đặt sân</span>

                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a href="@Url.Action("index","Event")" data-slug="dashboard">
                                <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                                <span class="site-menu-title">Quản lý sự kiện</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="site-menubar-footer">
            <a href="javascript: void(0);" class="fold-show" data-placement="top" data-toggle="tooltip"
               data-original-title="Settings">
                <span class="icon wb-settings" aria-hidden="true"></span>
            </a>
            <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Lock">
                <span class="icon wb-eye-close" aria-hidden="true"></span>
            </a>
            <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Logout">
                <span class="icon wb-power" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="site-gridmenu">
        <ul>
            <li>
                <a href="apps/mailbox/mailbox.html">
                    <i class="icon wb-envelope"></i>
                    <span>Mailbox</span>
                </a>
            </li>
            <li>
                <a href="apps/calendar/calendar.html">
                    <i class="icon wb-calendar"></i>
                    <span>Calendar</span>
                </a>
            </li>
            <li>
                <a href="apps/contacts/contacts.html">
                    <i class="icon wb-user"></i>
                    <span>Contacts</span>
                </a>
            </li>
            <li>
                <a href="apps/media/overview.html">
                    <i class="icon wb-camera"></i>
                    <span>Media</span>
                </a>
            </li>
            <li>
                <a href="apps/documents/categories.html">
                    <i class="icon wb-order"></i>
                    <span>Documents</span>
                </a>
            </li>
            <li>
                <a href="apps/projects/projects.html">
                    <i class="icon wb-image"></i>
                    <span>Project</span>
                </a>
            </li>
            <li>
                <a href="apps/forum/forum.html">
                    <i class="icon wb-chat-group"></i>
                    <span>Forum</span>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <i class="icon wb-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
        </ul>
    </div>


    <!-- Page -->
    <div class="page" style="background:#808080; font-size:1.1em;">
        <div class="page-content container-fluid">
            @RenderBody()
        </div>
    </div>
    <!-- End Page -->
    <!-- Footer -->
    <footer class="site-footer">
        <span class="site-footer-legal">© 2015 Remark</span>
        <div class="site-footer-right">

        </div>
    </footer>


    <!-- Core  -->
    <script src="~/Content/assets/vendor/jquery/jquery.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/bootstrap.js"></script>
    <script src="~/Content/assets/vendor/animsition/jquery.animsition.js"></script>
    <script src="~/Content/assets/vendor/asscroll/jquery-asScroll.js"></script>
    <script src="~/Content/assets/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="~/Content/assets/vendor/asscrollable/jquery.asScrollable.all.js"></script>
    <script src="~/Content/assets/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>

    <!-- Plugins -->

    <script src="~/Content/assets/vendor/select2/select2.min.js"></script>
    <script src="~/Content/assets/vendor/bootstrap-select/bootstrap-select.js"></script>
    <script src="~/Content/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/assets/vendor/asrange/jquery-asRange.min.js"></script>
    <script src="~/Content/assets/vendor/multi-select/jquery.multi-select.js"></script>
    <script src="~/Content/assets/vendor/datepair-js/datepair.min.js"></script>
    <script src="~/Content/assets/vendor/datepair-js/jquery.datepair.min.js"></script>
    <!--Clockpicker-->
    <script src="~/Content/assets/vendor/clockpicker/bootstrap-clockpicker.min.js"></script>
    <script src="~/Content/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/assets/vendor/jt-timepicker/jquery.timepicker.min.js"></script>
    <script src="~/Content/assets/vendor/datepair-js/datepair.min.js"></script>
    <script src="~/Content/assets/vendor/datepair-js/jquery.datepair.min.js"></script>
    <script src="~/Content/assets/vendor/multi-select/jquery.multi-select.js"></script>



    <script src="~/Content/assets/vendor/switchery/switchery.min.js"></script>
    <script src="~/Content/assets/vendor/intro-js/intro.js"></script>
    <script src="~/Content/assets/vendor/screenfull/screenfull.js"></script>
    <script src="~/Content/assets/vendor/slidepanel/jquery-slidePanel.js"></script>

    <script src="~/Content/assets/vendor/skycons/skycons.js"></script>
    <script src="~/Content/assets/vendor/chartist-js/chartist.min.js"></script>
    <script src="~/Content/assets/vendor/aspieprogress/jquery-asPieProgress.min.js"></script>
    <script src="~/Content/assets/vendor/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="~/Content/assets/vendor/jvectormap/maps/jquery-jvectormap-ca-lcc-en.js"></script>
    <script src="~/Content/assets/vendor/matchheight/jquery.matchHeight-min.js"></script>

    <!-- Scripts -->
    



    <script src="~/Content/assets/js/core.js"></script>
    <script src="~/Content/assets/js/site.js"></script>

    <script src="~/Content/assets/js/components/select2.js"></script>
    <script src="~/Content/assets/js/components/bootstrap-select.js"></script>
    <script src="~/Content/assets/js/components/asrange.js"></script>
    <script src="~/Content/assets/js/components/multi-select.js"></script>
    <script src="~/Content/assets/js/components/bootstrap-datepicker.js"></script>

    <script src="~/Content/assets/js/components/jt-timepicker.js"></script>
    <script src="~/Content/assets/js/components/datepair-js.js"></script>

    <script src="~/Content/assets/js/sections/menu.js"></script>
    <script src="~/Content/assets/js/sections/menubar.js"></script>
    <script src="~/Content/assets/js/sections/sidebar.js"></script>

    <script src="~/Content/assets/js/configs/config-colors.js"></script>
    <script src="~/Content/assets/js/configs/config-tour.js"></script>

    <script src="~/Content/assets/js/components/asscrollable.js"></script>
    <script src="~/Content/assets/js/components/animsition.js"></script>
    @*<script src="~/Content/assets/js/components/slidepanel.js"></script>*@
    <script src="~/Content/assets/js/components/switchery.js"></script>
    <script src="~/Content/assets/js/components/matchheight.js"></script>
    @*<script src="~/Content/assets/js/components/jvectormap.js"></script>*@

    <script src="~/Content/assets/js/components/jquery-placeholder.js"></script>
    <script src="~/Content/assets/js/components/material.js"></script>


    <script src="~/Content/assets/js/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/assets/js/bootstrap/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/assets/js/bootstrap/js/dataTables.responsive.min_2.js"></script>
    <script src="~/Content/assets/js/bootstrap/js/responsive.bootstrap.min.js"></script>
    <script src="~/Content/js/custom-script.js"></script>

    <script src="~/Content/js/sweetAlert/sweetalert.min.js"></script>

    <script src="~/Content/assets/js/components/bootstrap-datepicker.js"></script>
    <script src="~/Content/assets/js/components/jt-timepicker.js"></script>
    <script src="~/Content/assets/js/components/datepair-js.js"></script>
    <script src="~/Content/assets/js/components/clockpicker.js"></script>

    <script src="~/Content/js/custom-script.js"></script>

    <script src="~/Content/js/sweetAlert/sweetalert.min.js"></script>
</body>

    @*<!-- Core  -->
    <script src="~/Content/assets/vendor/jquery/jquery.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/bootstrap.js"></script>
    <script src="~/Content/assets/vendor/animsition/jquery.animsition.js"></script>
    <script src="~/Content/assets/vendor/asscroll/jquery-asScroll.js"></script>
    <script src="~/Content/assets/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="~/Content/assets/vendor/asscrollable/jquery.asScrollable.all.js"></script>
    <script src="~/Content/assets/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>

    <!-- Plugins -->
    <script src="~/Content/assets/vendor/switchery/switchery.min.js"></script>
    <script src="~/Content/assets/vendor/intro-js/intro.js"></script>
    <script src="~/Content/assets/vendor/screenfull/screenfull.js"></script>
    <script src="~/Content/assets/vendor/slidepanel/jquery-slidePanel.js"></script>

    <script src="~/Content/assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/vendor/datatables-fixedheader/dataTables.fixedHeader.js"></script>
    <script src="~/Content/assets/vendor/datatables-bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Content/assets/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script src="~/Content/assets/vendor/datatables-tabletools/dataTables.tableTools.js"></script>

    <script src="~/Content/assets/vendor/formvalidation/formValidation.min.js"></script>
    <script src="~/Content/assets/vendor/formvalidation/framework/bootstrap.min.js"></script>

    <script src="~/Content/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.js"></script>

    <!--Clockpicker-->
    <script src="~/Content/assets/vendor/clockpicker/bootstrap-clockpicker.min.js"></script>
    
    <!--Upload-->
    <script src="~/Content/assets/vendor/jquery-ui/jquery-ui.js"></script>
    <script src="~/Content/assets/vendor/blueimp-tmpl/tmpl.js"></script>
    <script src="~/Content/assets/vendor/blueimp-canvas-to-blob/canvas-to-blob.js"></script>
    <script src="~/Content/assets/vendor/blueimp-load-image/load-image.all.min.js"></script>
    <script src="~/Content/assets/vendor/blueimp-file-upload/jquery.fileupload.js"></script>
    <script src="~/Content/assets/vendor/blueimp-file-upload/jquery.fileupload-process.js"></script>
    <script src="~/Content/assets/vendor/blueimp-file-upload/jquery.fileupload-image.js"></script>
    <script src="~/Content/assets/vendor/blueimp-file-upload/jquery.fileupload-audio.js"></script>
    <script src="~/Content/assets/vendor/blueimp-file-upload/jquery.fileupload-video.js"></script>
    <script src="~/Content/assets/vendor/blueimp-file-upload/jquery.fileupload-validate.js"></script>
    <script src="~/Content/assets/vendor/blueimp-file-upload/jquery.fileupload-ui.js"></script>
    



    <!-- Scripts -->
    <script src="~/Content/assets/js/core.js"></script>
    <script src="~/Content/assets/js/site.js"></script>

    <script src="~/Content/assets/js/sections/menu.js"></script>
    <script src="~/Content/assets/js/sections/menubar.js"></script>
    <script src="~/Content/assets/js/sections/sidebar.js"></script>

    <script src="~/Content/assets/js/configs/config-colors.js"></script>
    <script src="~/Content/assets/js/configs/config-tour.js"></script>

    <script src="~/Content/assets/js/components/asscrollable.js"></script>
    <script src="~/Content/assets/js/components/animsition.js"></script>
    <script src="~/Content/assets/js/components/slidepanel.min.js"></script>
    <script src="~/Content/assets/js/components/switchery.js"></script>
    <script src="~/Content/assets/js/components/matchheight.js"></script>
    <script src="~/Content/assets/js/components/jvectormap.min.js"></script>

    <script src="~/Content/assets/js/components/datatables.js"></script>

    <script src="~/Content/assets/js/components/clockpicker.js"></script>

    <script src="~/Content/Bootbox/bootbox.min.js"></script>

    <script src="~/Content/assets/js/components/material.min.js"></script>

    <script src="~/Content/assets/js/components/bootstrap-datepicker.js"></script>*@

    <script src="~/Content/js/custom-script.js"></script>

    <script src="~/Content/js/sweetAlert/sweetalert.min.js"></script>

    <script>
       function logout(){
           $("#form-log-out").submit();
        }
    </script>
    </body>


@RenderSection("Scripts", false)

</html>
