@using Microsoft.AspNet.Identity;
@using SportsSocialNetwork.Models.Enumerable;
<!DOCTYPE html>
<html class="no-js before-run" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">

    <title>SSN - @ViewBag.Title</title>

    <link rel="apple-touch-icon" href="~/Content/assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/Content/images/logo_new.png">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/site.min.css">

    <link rel="stylesheet" href="~/Content/assets/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/flag-icon-css/flag-icon.css">

    <link rel="stylesheet" href="~/Content/assets/vendor/asrange/asRange.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/multi-select/multi-select.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/bootstrap-select/bootstrap-select.css">

    <!--TEST-->
    <link rel="stylesheet" href="~/Content/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.css">
    <!--ENDTEST-->

    <!--Clock Picker-->
    <link rel="stylesheet" href="~/Content/assets/vendor/clockpicker/clockpicker.css">

    <!--DataTable-->
    <link rel="stylesheet" href="~/Content/assets/vendor/datatables-bootstrap/dataTables.bootstrap.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/datatables-fixedheader/dataTables.fixedHeader.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/datatables-responsive/dataTables.responsive.css">

    <!--Upload-->
    <link rel="stylesheet" href="~/Content/assets/vendor/blueimp-file-upload/jquery.fileupload.css">

    <!--Sweet Alert-->
    <link rel="stylesheet" href="~/Content/js/sweetAlert/sweetalert.css" />

    <!--Form Validation-->
    <link rel="stylesheet" href="~/Content/assets/vendor/formvalidation/formValidation.css">

    <link rel="stylesheet" href="~/Content/css/custom-css.css" />    

    <!-- Fonts -->
    <link rel="stylesheet" href="~/Content/assets/fonts/web-icons/web-icons.min.css">
    <link rel="stylesheet" href="~/Content/assets/fonts/brand-icons/brand-icons.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    <link href="~/Content/assets/vendor/select2/select2.css" rel="stylesheet" />


    

    <!--[if lt IE 9]>
      <script src="~/Content/assets/vendor/html5shiv/html5shiv.min.js"></script>
      <![endif]-->
    <!--[if lt IE 10]>
      <script src="~/Content/assets/vendor/media-match/media.match.min.js"></script>
      <script src="~/Content/assets/vendor/respond/respond.min.js"></script>
      <![endif]-->
    <!-- Scripts -->
    <script src="~/Content/assets/vendor/modernizr/modernizr.js"></script>
    <script src="~/Content/assets/vendor/breakpoints/breakpoints.js"></script>
    <script>
    Breakpoints();
    </script>
</head>
<body class="dashboard">
    <!--[if lt IE 8]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

    <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">

        <div class="navbar-header" style="background-color:#f55f00;">
            <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided"
                    data-toggle="menubar">
                <span class="sr-only">Toggle navigation</span>
                <span class="hamburger-bar"></span>
            </button>
            <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse"
                    data-toggle="collapse">
                <i class="icon wb-more-horizontal" aria-hidden="true"></i>
            </button>
            <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-search"
                    data-toggle="collapse">
                <span class="sr-only">Toggle Search</span>
                <i class="icon wb-search" aria-hidden="true"></i>
            </button>
            <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
                <a href="/SSN" style="color:white;">
                    <img class="navbar-brand-logo" src="~/Content/images/logo.png" title="Sports" />
                    <span class="navbar-brand-text"> Sports social network</span>
                </a>
            </div>
        </div>

        <div class="navbar-container container-fluid" >
            <!-- Navbar Collapse -->
            <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
                <!-- Navbar Toolbar -->
                <ul class="nav navbar-toolbar">
                    <li class="hidden-float" id="toggleMenubar">
                        <a data-toggle="menubar" href="#" role="button">
                            <i class="icon hamburger hamburger-arrow-left">
                                <span class="sr-only">Toggle menubar</span>
                                <span class="hamburger-bar"></span>
                            </i>
                        </a>
                    </li>
                    @*<li class="hidden-float">
                        <a class="icon wb-search" data-toggle="collapse" href="#site-navbar-search" role="button">
                            <span class="sr-only">Toggle Search</span>
                        </a>
                    </li>*@
                </ul>
                <!-- End Navbar Toolbar -->
                <!-- Navbar Toolbar Right -->
                <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                    @{
                        if (User != null && User.Identity.IsAuthenticated)
                        {
                            <li class="dropdown">
                                <a data-toggle="dropdown" href="javascript:void(0)" title="Notifications" aria-expanded="false" style="color:#263238; font-weight:500;font-size:medium"
                                   data-animation="slide-bottom" role="button">
                                    <i class="icon wb-bell" aria-hidden="true" id="notibell"></i>
                                    @*<span class="badge badge-danger up" id="notiCount"></span>*@
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu" id="listNoti">
                                    <li class="dropdown-menu-header" role="presentation" id="headNoti" style="padding: 10px 20px;background-color: #ffefdf;">
                                        <h5 id="notiTitle" style="color: #000000!important;font-weight: 500;font-size: medium;">THÔNG BÁO</h5>
                                        @*<span class="label label-round label-danger" id="notiLabelCount"></span>*@
                                    </li>


                                    <li class="list-group notiDiv" role="presentation" style="max-height:400px;">
                                        <div data-role="container" style="height:400px;" class="notiDiv">
                                            <div data-role="content" id="notiItems" class="notiDiv">
                                                @*<a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                                        <div class="media">
                                                            <div class="media-left padding-right-10">
                                                                <i class="icon wb-order bg-red-600 white icon-circle" aria-hidden="true"></i>
                                                            </div>
                                                            <div class="media-body">
                                                                <h6 class="media-heading">A new order has been placed</h6>
                                                                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">5 hours ago</time>
                                                            </div>
                                                        </div>
                                                    </a>*@
                                            </div>
                                        </div>
                                    </li>
                                    <li class="dropdown-menu-footer" role="presentation" id="notiBottom">
                                        <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button" onclick="markAllAsRead()"
                                           style="color:#000!important; font-weight:400">
                                            <i class="icon wb-check-circle" aria-hidden="true"></i>Đánh dấu xem tất cả
                                        </a>
                                        <a href="@Url.Action("Index", "Notification")" role="menuitem"
                                           style="color:#000!important; font-weight:400">
                                            Xem tất cả thông báo
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a class="navbar-avatar dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"
                                   data-animation="slide-bottom" role="button">
                                    <span id="ava" class="avatar avatar-online">
                                    </span>
                                </a>
                                <ul class="dropdown-menu width-250" role="menu">
                                    <li role="presentation">
                                        <a href="@Url.Action("index", "Place", new { area = "PlaceOwner"})" role="menuitem">
                                            <span class="fa fa-globe"></span> Trang chủ
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="javascript:void(0)" role="menuitem" onclick="showUpdateAccNLModal()">
                                            <span class="fa fa-user"></span> Cập nhật thông tin thanh toán
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="@Url.Action("index", "SSN", new { area = ""})" role="menuitem">
                                            <span class="fa fa-globe"></span> Quay lại mạng xã hội
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <form action="@Url.Action("LogOff","Account", new { area = "" })" method="post" id="form-log-out" hidden>
                                            @Html.AntiForgeryToken()

                                        </form>
                                        <a href="#" role="menuitem" onclick="logout()">
                                            <span class="icon wb-power"></span> Đăng xuất
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                    }
                    @*<li class="dropdown">
                        <a class="navbar-avatar dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"
                           data-animation="slide-bottom" role="button">
                            <span class="avatar avatar-online">
                                <img src="~/Content/assets/portraits/5.jpg" alt="...">
                                <i></i>
                            </span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="javascript:void(0)" title="Notifications" aria-expanded="false"
                           data-animation="slide-bottom" role="button">
                            <i class="icon wb-bell" aria-hidden="true"></i>
                            <span class="badge badge-danger up">5</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
                            <li class="dropdown-menu-header" role="presentation">
                                <h5>NOTIFICATIONS</h5>
                                <span class="label label-round label-danger">New 5</span>
                            </li>

                            <li class="list-group" role="presentation">
                                <div data-role="container">
                                    <div data-role="content">
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <i class="icon wb-order bg-red-600 white icon-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">A new order has been placed</h6>
                                                    <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">5 hours ago</time>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <i class="icon wb-user bg-green-600 white icon-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Completed the task</h6>
                                                    <time class="media-meta" datetime="2015-06-11T18:29:20+08:00">2 days ago</time>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <i class="icon wb-settings bg-red-600 white icon-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Settings updated</h6>
                                                    <time class="media-meta" datetime="2015-06-11T14:05:00+08:00">2 days ago</time>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <i class="icon wb-calendar bg-blue-600 white icon-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Event started</h6>
                                                    <time class="media-meta" datetime="2015-06-10T13:50:18+08:00">3 days ago</time>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <i class="icon wb-chat bg-orange-600 white icon-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Message received</h6>
                                                    <time class="media-meta" datetime="2015-06-10T12:34:48+08:00">3 days ago</time>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown-menu-footer" role="presentation">
                                <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                                    <i class="icon wb-settings" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:void(0)" role="menuitem">
                                    All notifications
                                </a>
                            </li>
                        </ul>
                    </li>
                   
                 
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" data-animation="slide-bottom"
                           aria-expanded="false" role="button">
                            <span class="icon wb-settings"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                                <a href="@Url.Action("index", "Place", new { area = "PlaceOwner"})" role="menuitem">
                                    <span class="fa fa-globe"></span> Trang chủ
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="javascript:void(0)" role="menuitem" onclick="showUpdateAccNLModal()">
                                    <span class="fa fa-user"></span> Cập nhật thông tin thanh toán
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="@Url.Action("index", "SSN", new { area = ""})" role="menuitem">
                                    <span class="fa fa-globe"></span> Quay lại mạng xã hội
                                </a>
                            </li>
                            @*<li role="presentation">
                                <a href="javascript:void(0)" role="menuitem">
                                    <span class="fa fa-users"></span> Tìm người cùng sở thích ở gần bạn
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="javascript:void(0)" role="menuitem">
                                    <span class="fa fa-pencil-square-o"></span> Gửi lời mời chơi thể thao
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="javascript:void(0)" role="menuitem">
                                    <span class="fa fa-list-alt"></span> Quản lý địa điểm A
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="javascript:void(0)" role="menuitem">
                                    <span class="fa fa-list-alt"></span> Quản lý địa điểm B
                                </a>
                            </li>
                            <li role="presentation">
                                <form action="@Url.Action("LogOff","Account", new { area = "" })" method="post" id="form-log-out" hidden>
                                    @Html.AntiForgeryToken()
                                    
                                </form>
                                <a href="#" role="menuitem" onclick="logout()">
                                    <span class="icon wb-power"></span> Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </li>*@
                </ul>
                <!-- End Navbar Toolbar Right -->
            </div>
            <!-- End Navbar Collapse -->
            <!-- Site Navbar Seach -->
            <div class="collapse navbar-search-overlap" id="site-navbar-search">
                <form role="search">
                    <div class="form-group">
                        <div class="input-search">
                            <i class="input-search-icon wb-search" aria-hidden="true"></i>
                            <input type="text" class="form-control" name="site-search" placeholder="Search...">
                            <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search"
                                    data-toggle="collapse" aria-label="Close"></button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End Site Navbar Seach -->
        </div>
    </nav>
    <div class="site-menubar">
        <div class="site-menubar-body">
            <div>
                <div>
                    <ul class="site-menu">
                        <li class="site-menu-category">Chủ sân</li>
                        @*<li class="site-menu-item">
                            <a href="/" data-slug="dashboard">
                                <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                                <span class="site-menu-title">Mạng xã hội</span>

                            </a>
                        </li>*@
                        <li class="site-menu-item">
                            <a href="@Url.Action("index","Place")" data-slug="dashboard">
                                <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                                <span class="site-menu-title">Quản lý địa điểm</span>

                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a href="@Url.Action("index","Order")" data-slug="dashboard">
                                <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                                <span class="site-menu-title">Quản lý đặt sân</span>

                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a href="@Url.Action("index","Event")" data-slug="dashboard">
                                <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                                <span class="site-menu-title">Quản lý sự kiện</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

      
    </div>
   
    <div id="accNLModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form id="accNL-form" method="post" autocomplete="off">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Cập nhật tài khoản thanh toán online</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group form-material floating">
                            <input type="text" name="accNL" class="form-control input-lg" />
                            <label class="floating-label">Nhập tài khoản Ngân Lượng của bạn</label>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-success" value="Cập nhật" />
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- Page -->
    <div class="page" style="background-color:whitesmoke; font-size:1.2em;">
        <div class="page-content container-fluid">
            @RenderBody()
        </div>
    </div>
    <!-- End Page -->
    <!-- Footer -->
    <footer class="site-footer">
        <span class="site-footer-legal">© 2015 SSN - Capstone Project</span>
        <div class="site-footer-right">

        </div>
    </footer>


    <!-- Core  -->
    <script src="~/Content/assets/vendor/jquery/jquery.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/bootstrap.js"></script>
    <script src="~/Content/assets/vendor/animsition/jquery.animsition.js"></script>
    <script src="~/Content/assets/vendor/asscroll/jquery-asScroll.js"></script>
    <script src="~/Content/assets/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="~/Content/assets/vendor/asscrollable/jquery.asScrollable.all.js"></script>
    <script src="~/Content/assets/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>

    <script src="~/Content/assets/vendor/jquery-ui/jquery-ui.js"></script>
    <!--TEST-->
    <!-- Plugins -->
    <script src="~/Content/assets/vendor/switchery/switchery.min.js"></script>
    <script src="~/Content/assets/vendor/intro-js/intro.js"></script>
    <script src="~/Content/assets/vendor/screenfull/screenfull.js"></script>
    <script src="~/Content/assets/vendor/slidepanel/jquery-slidePanel.js"></script>

    <script src="~/Content/assets/vendor/bootstrap-select/bootstrap-select.js"></script>
    <script src="~/Content/assets/vendor/switchery/switchery.min.js"></script>
    <script src="~/Content/assets/vendor/asrange/jquery-asRange.min.js"></script>
    
    <script src="~/Content/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!--Datepicker-->
    <script src="~/Content/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.js"></script>

    <!--Datatables-->
    <script src="~/Content/assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/vendor/datatables-fixedheader/dataTables.fixedHeader.js"></script>
    <script src="~/Content/assets/vendor/datatables-bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Content/assets/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script src="~/Content/assets/vendor/datatables-tabletools/dataTables.tableTools.js"></script>

    <!--Form Validation-->
    <script src="~/Content/assets/vendor/formvalidation/formValidation.js"></script>
    <script src="~/Content/assets/vendor/formvalidation/framework/bootstrap.min.js"></script>

    <!--Clockpicker-->
    <script src="~/Content/assets/vendor/clockpicker/bootstrap-clockpicker.min.js"></script>

    <!--Upload-->
    <script src="~/Content/assets/vendor/blueimp-tmpl/tmpl.js"></script>
    <script src="~/Content/assets/vendor/blueimp-canvas-to-blob/canvas-to-blob.js"></script>
    <script src="~/Content/assets/vendor/blueimp-load-image/load-image.all.min.js"></script>
    <script src="~/Content/assets/vendor/blueimp-file-upload/jquery.fileupload.js"></script>
    <script src="~/Content/assets/vendor/blueimp-file-upload/jquery.fileupload-process.js"></script>
    <script src="~/Content/assets/vendor/blueimp-file-upload/jquery.fileupload-image.js"></script>
    <script src="~/Content/assets/vendor/blueimp-file-upload/jquery.fileupload-audio.js"></script>
    <script src="~/Content/assets/vendor/blueimp-file-upload/jquery.fileupload-video.js"></script>
    <script src="~/Content/assets/vendor/blueimp-file-upload/jquery.fileupload-validate.js"></script>
    <script src="~/Content/assets/vendor/blueimp-file-upload/jquery.fileupload-ui.js"></script>



    <!--============================================================================================================================-->

    <!-- Scripts -->
    <script src="~/Content/assets/js/core.js"></script>
    <script src="~/Content/assets/js/site.js"></script>

    <script src="~/Content/assets/js/sections/menu.js"></script>
    <script src="~/Content/assets/js/sections/menubar.js"></script>
    <script src="~/Content/assets/js/sections/sidebar.js"></script>

    <script src="~/Content/assets/js/configs/config-colors.js"></script>
    <script src="~/Content/assets/js/configs/config-tour.js"></script>

    <script src="~/Content/assets/js/components/asscrollable.js"></script>
    <script src="~/Content/assets/js/components/animsition.js"></script>
    <script src="~/Content/assets/js/components/slidepanel.min.js"></script>
    <script src="~/Content/assets/js/components/switchery.js"></script>
    <script src="~/Content/assets/js/components/jvectormap.min.js"></script>
    <script src="~/Content/assets/js/components/jquery-placeholder.js"></script>
    <!--END TEST-->

    <!--Datepicker-->
    <script src="~/Content/assets/js/components/bootstrap-datepicker.js"></script>

    <!--Datatables-->
    <script src="~/Content/assets/js/components/datatables.js"></script>
    @*<script src="~/Content/assets/js/bootstrap/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/assets/js/bootstrap/js/dataTables.responsive.min_2.js"></script>
    <script src="~/Content/assets/js/bootstrap/js/responsive.bootstrap.min.js"></script>*@
    
    <!--Floating Material-->
    <script src="~/Content/assets/js/components/material.js"></script>

    <!--Clock picker-->
    <script src="~/Content/assets/js/components/clockpicker.js"></script>

    <!--Sweet Alert-->
    <script src="~/Content/js/sweetAlert/sweetalert.min.js"></script>

    <!--Custom Script-->
    <script src="~/Content/js/custom-script.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>

    <!--Signalr-->
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script src="~/Content/assets/vendor/select2/select2.full.js"></script>

    <script>

        var totalUnreadCount = 0;
        var _notiFirstSkip = 0;
        var _notiFirstTake = 10;
        var _notiSkip = 10;
        var _notiTake = 5;

        function loadAvatar() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetAvatarImage", "SSN", new { area = ""})',
                async: false,
                success: function (result) {
                    if (result.Succeed) {
                        $("#ava").empty();
                        if (result.AdditionalData != null) {
                            $("#ava").append('<img src="' + result.AdditionalData + '" style="height:30px;width:30px"><i></i>');
                        }
                    }
                }
            });
        }

        $(function signalr() {
            // Declare a proxy to reference the hub.
            var commenthub = $.connection.realTimeHub;
            // Create a function that the hub can call to broadcast messages.
            commenthub.client.send = function (c) {
                //process

                appendNoti(c);

            };
            // Start the connection.
            $.connection.hub.start();
        });

        $(document).ready(function () {
            loadAvatar();
            //Load Noti Count
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetUnreadCount", "Notification", new { area = "" })',
                data: { "userId": '@User.Identity.GetUserId()' },
                success: function (result) {
                    if (result != "") {
                        totalUnreadCount = parseInt(result);
                        if (totalUnreadCount != 0) {
                            showPopNoti(totalUnreadCount);
                        }
                    }
                }

            });

            //Load Noti List
            @*$.ajax({
                type: 'POST',
                url: '@Url.Action("LoadNoti", "Notification")',
                data: { "userId": '@User.Identity.GetUserId()', "skip": _notiFirstSkip , "take": _notiFirstTake },
                success: function (result) {
                    var data = result.Data;

                    $(data).each(function () {
                        var noti = renderNoti(this);
                        $("#notiItems").append(noti);

                    })
                }

            });*@
            loadNoti(_notiFirstSkip, _notiFirstTake);
        })

        function appendNoti(data) {
            var noti = renderNoti(data);
            totalUnreadCount++;
            $("#notiItems").prepend(noti);
            if (totalUnreadCount != 0) {
                showPopNoti(totalUnreadCount);
            }
        }

        function renderNoti(data) {
            var image = "";
            var url = "";
            var colorUnread = "";

            if (data.MarkRead == false) {
                styleUnread = "background-color:#f1f0f0;";
            } else {
                styleUnread = "";
            }


            if (data.Type == parseInt('@((int)NotificationType.Post)')) {
                image = data.AspNetUser1.AvatarImage;
                url = "/SSN/PostDetail?postId=" + data.PostId;
            } else if (data.Type == parseInt('@((int)NotificationType.Order)')) {
                image = "/Content/images/flag-xxl.png";
                url = "/Order";
            } else if (data.Type == parseInt('@((int)NotificationType.Invitation)')) {
                image = data.AspNetUser1.AvatarImage;
                url = "/Invitation";
            } else if (data.Type == parseInt('@((int)NotificationType.GroupInvitation)')) {
                image = data.AspNetUser1.AvatarImage;
                url = "/Group/Index/" + data.Group.Id;
            } else if (data.Type == parseInt('@((int)NotificationType.GroupChallengeInvitation)')) {
                image = data.Group.Avatar;
                url = "/Group/Index/" + data.Group.Id;
            } else if (data.Type == parseInt('@((int)NotificationType.GroupMemberAction)')) {
                image = data.AspNetUser1.AvatarImage;
                url = "/Group/Index/" + data.Group.Id;
            } else if (data.Type == parseInt('@((int)NotificationType.GroupPost)')) {
                image = data.AspNetUser1.AvatarImage;
                url = "/Group/Index/" + data.Group.Id;
            } else {

            }


            //var noti = '<a class="list-group-item" href="' + url + '" role="menuitem" style="padding: 10px 15px;border-bottom-style: solid;border-bottom-color: #7c7b7b;' + styleUnread + '" onclick="markAsRead(' + data.Id + ')">' +
            //           '<div class="row height-100">' +
            //                '<div class="col-sm-2 vertical-align" style="padding-top:5px; padding-left:10px;">' +
            //                    '<span class="avatar" style="width:30px;">' +
            //                        '<img class="vertical-align-middle" src="' + image + '" width="60px" height="60px" />' +
            //                    '</span>' +
            //                '</div>' +
            //                '<div class="col-sm-9 height-100" style="padding-top:10px;">' +
            //                    '<h4 class="list-group-item-heading">' + data.Message + '</h4>' +
            //                    '<p class="list-group-item-text">' + data.CreateDateString + '</p>' +
            //                '</div>' +
            //            '</div>' +
            //        '</a>';
            var noti = '<a class="list-group-item" href="' + url + '" role="menuitem" style="' + styleUnread + '" onclick="markAsRead(' + data.Id + ')">' +
                      '<div class="media">'+
                        '<div class="media-left padding-right-10" style="width:50px;">' +
                          '<span class="avatar" style="width:50px;">'+
                            '<img src="' + image + '" alt="..." style="width:50px; height:50px;">' +

                          '</span>'+
                        '</div>'+
                        '<div class="media-body" style="width:258px;">'+

                          '<div class="media-detail" style="color:#000!important; font-weight:400;font-size:14px">' + data.Message + '</div>' +
                          '<div class="media-meta">' +
                            '<time datetime="">' + data.CreateDateString + '</time>' +
                          '</div>' +
                        '</div>'+
                      '</div>'+
                      '</a>';
            return noti;
        }

        function markAsRead(id) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("MarkAsRead", "Notification", new { area = "" })',
                data: { "id": id },
                success: function (result) {
                    if (result.Succeed) {

                    } else {
                        showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                    }
                }
            })
        };


        function markAllAsRead(id) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("MarkAllAsRead", "Notification", new { area = "" })',
                data: { "userId": '@User.Identity.GetUserId()' },
                success: function (result) {
                    if (result.Succeed) {
                        $("#notiItems").find("a").css("background-color", "");
                        $("#notiCount").remove();
                        $("#notiLabelCount").remove();
                    } else {
                        showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                    }
                }
            })
        };

        function showPopNoti(count) {
            if ($("#notiCount").length) {
                $("#notiCount").text(count);
            }
            else {
                var lable = '<span class="badge badge-danger up" id="notiCount">' + count + '</span>'
                $(lable).insertAfter("#notibell");
            }

            if ($("#notiLabelCount").length) {
                $("#notiLabelCount").text(count);
            }
            else {
                var titleCount = '<span class="label label-round label-danger" id="notiLabelCount">' + count + '</span>';
                $(titleCount).insertAfter("#notiTitle");
            }
        };

        function loadNoti(skip, take) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("LoadNoti", "Notification", new { area = "" })',
                data: { "userId": '@User.Identity.GetUserId()', "skip": skip, "take": take },
                success: function (result) {
                    var data = result.Data;

                    $(data).each(function () {
                        var noti = renderNoti(this);
                        $("#notiItems").append(noti);

                    })
                }

            });
        };

        $(".notiDiv").scroll(function () {
            if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                loadNoti(_notiSkip, _notiTake);
                _notiSkip = _notiSkip + _notiTake;
            }
        });



        function logout() {
            $("#form-log-out").submit();
        };

        //update Ngan Lương account
        function showUpdateAccNLModal() {
            $("#accNLModal").modal('show');
        };

        $("#accNL-form").submit(function (e) {
            e.preventDefault();
            var formData = new FormData(document.getElementById('accNL-form'));
            var userId = '@User.Identity.GetUserId()';
            formData.append("userId", userId);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateNganLuongAccount", "Order", new { Area = "PlaceOwner" })',
                async: false,
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result.Succeed) {
                        showMessage("Cập nhật thành công.", "success", "OK");
                        $("#accNLModal").modal('hide');
                    } else {
                        //showErrors(result.Errors);
                        showMessage("Không thể cập nhật.", "error", "OK");
                    }
                },
                error: function (result) {
                    showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                },
            });
        });
    </script>

    @RenderSection("Scripts", false)
</body>
</html>
