@using SportsSocialNetwork.Models.Entities;
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_SSNLayout.cshtml";

    List<Category> categories = ViewBag.categories;
    List<News> popularNewByCate = ViewBag.popularNewByCate;
    List<News> newsByCate = ViewBag.newsByCate;
}
@section styles{
    <link rel="stylesheet" href="~/Content/assets/vendor/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/slick-carousel/slick.css">

    <style>
        .owl-carousel-shortcode .item {
            text-align: center;
        }

        .slider {
            margin: 0 25px 30px;
            text-align: center;
        }

            .slider img {
                width: 100%;
                border: 5px solid #fff;
            }

            .slider h3 {
                position: relative;
                padding: 10px;
                margin: 0 10px;
                font-size: 36px;
                line-height: 100px;
                background: #f3f7f9;
            }
    </style>
}

<div class="col-sm-10 col-sm-offset-1">
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div class="col-sm-12">
                    <div class="navbar navbar-default navbar-mega">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle hamburger hamburger-close collapsed"
                                        data-toggle="collapse" data-target="#navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="hamburger-bar"></span>
                                </button>
                                <a class="navbar-brand" href="/News">Trang chủ tin tức</a>
                            </div>
                            <div class="navbar-collapse collapse" id="navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    @{
                                        foreach (var item in categories)
                                        {
                                            <li>
                                                <a href="/News/Category/@item.Id">@item.Name</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                @{
                    if (popularNewByCate != null && popularNewByCate.Count > 0)
                    {
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="ribbon ribbon-bookmark ribbon-danger">
                                    <span class="ribbon-inner">TIN NỔI BẬT</span>
                                </div>
                                <div>
                                    <img class="img-responsive" src="@popularNewByCate.First().Image" />
                                    <h1><a href="/News/NewsDetail/@popularNewByCate.First().Id">@popularNewByCate.First().Title</a></h1>
                                    <p id="hotnewsContent">
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <span class="label label-lg label-outline label-danger">CÁC TIN NỔI BẬT KHÁC</span>
                                <div class="list-group height-500" data-plugin="scrollable" style="margin-top:20px;">
                                    <div data-role="container">
                                        <div data-role="content">
                                            @{
                                                foreach (var item in popularNewByCate.Skip(1))
                                                {
                                                    <a class="list-group-item" href="/News/NewsDetail/@item.Id" role="menuitem">
                                                        <div class="media">
                                                            <div class="media-left padding-right-10">
                                                                <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                            </div>
                                                            <div class="media-body">
                                                                <h6 class="media-heading">@item.Title</h6>
                                                                @*<time class="media-meta" datetime="2015-06-11T18:29:20+08:00">2 days ago</time>*@
                                                            </div>
                                                        </div>
                                                    </a>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <br />
                        <div class="row">
                            @{
                                foreach (var item in newsByCate)
                                {
                                    <div class="col-sm-3">
                                        <div class="panel panel-bordered">
                                            <div class="panel-body">
                                                <h4><a href="/News/NewsDetail/@item.Id">@item.Title</a></h4>
                                                <img class="img-responsive" src="@item.Image" />
                                                @*<p>
                                                        Wrap buttons or secondary text in <code>.panel-footer</code>. Note
                                                        that panel footers do not inherit colors and borders when using
                                                        contextual variations as they are not meant to be in the foreground.
                                                    </p>*@
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <p>Hiện chưa có tin tức nào trong chuyên mục này</p>
                        </div>
                    }
                }

                
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script src="~/Content/assets/vendor/owl-carousel/owl.carousel.js"></script>
    <script src="~/Content/assets/vendor/slick-carousel/slick.js"></script>
    <script src="~/Content/assets/js/components/owl-carousel.js"></script>


    <script>
        $(document).ready(function () {
            minifyString();
        })

        // Example Slick Multiple Items
        // ----------------------------
        $('.snews').slick({
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 3
        });

        
    </script>

    @{
        if (popularNewByCate != null && popularNewByCate.Count > 0)
        {
            <script>
                function minifyString() {
                    var minimize_character_count = 200;
                    if ('@Html.Raw(popularNewByCate.First().NewsContent)' != '' && '@Html.Raw(popularNewByCate.First().NewsContent)' != null)
                    {
                        var content = '@Html.Raw(popularNewByCate.First().NewsContent)';
                        if (content.length < minimize_character_count) return;
                        var minimized_content = content.slice(0, minimize_character_count);
                        var result = minimized_content.replace(/ (< ([^>] +) >) / ig, "");
                    $("#hotnewsContent").text(result);
                    }

                }
            </script>
        }
    }
}

