@model SportsSocialNetwork.Models.ViewModels.NewsViewModel
@using SportsSocialNetwork.Models.Entities;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "NewsDetail";
    Layout = "~/Views/Shared/_SSNLayout.cshtml";

    List<Category> categories = ViewBag.categories;
    List<News> relativeNews = ViewBag.relativeNews;
}

<div class="col-sm-10 col-sm-offset-1">
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div class="col-sm-12">
                    <div class="navbar navbar-default navbar-mega">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle hamburger hamburger-close collapsed"
                                        data-toggle="collapse" data-target="#navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="hamburger-bar"></span>
                                </button>
                                <a class="navbar-brand" href="/News">Trang chủ tin tức</a>
                            </div>
                            <div class="navbar-collapse collapse" id="navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    @{
                                        foreach (var item in categories)
                                        {
                                            <li>
                                                <a href="/News/Category/@item.Id">@item.Name</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-9">
                    <h1>@Model.Title</h1>

                    <div>
                        @Html.Raw(Model.NewsContent)
                    </div>
                    <div id="commentSection" style="margin-top:40px; border-top:1px solid #808080;">
                        <h3>Nhận xét</h3>
                        <div>
                            <form id="newsCommentForm" name="newsCommentForm" autocomplete="off">
                                <input type="hidden" name="userId" id="userId" value="@User.Identity.GetUserId()" />
                                <input type="hidden" name="newsId" id="newsId" value="@Model.Id" />
                                <textarea class="form-control" rows="3" name="comment" id="comment"></textarea>
                                <input type="submit" class="btn btn-default pull-right" value="Đăng" />
                            </form>
                        </div>
                        <div id="cmtList">
                        </div>
                        <button class="btn btn-default" id="loadMoreBtn" style="width:100%;" type="button" onclick="loadMoreNewsCmt()">Xem thêm bình luận</button>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h3>Các bài viết liên quan</h3>
                    <div class="list-group height-500" style="margin-top:20px;">
                        @{
                            foreach (var item in relativeNews)
                            {
                                <a class="list-group-item" href="/News/NewsDetail/@item.Id" role="menuitem">
                                    <div class="media">
                                        <div class="media-left padding-right-10">
                                            <i class="fa fa-newspaper-o bg-green-600 white icon-circle" aria-hidden="true"></i>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="media-heading">@item.Title</h6>
                                            @*<time class="media-meta" datetime="2015-06-11T18:29:20+08:00">2 days ago</time>*@
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                        
                    </div>
                </div>       
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script>
        var _ncFirstSkip = 0;
        var _ncFirstTake = 5;
        var _ncSkip = 5;
        var _ncTake = 5;
        var _allNewsCmtCount;
        var curCommentShowed = 0;
        var showLoadMoreButton = false;

        $(document).ready(function() {
            //loadNewsComt(_ncFirstSkip, _ncFirstTake, function(){
            //    loadAllNewsCmtCount(function(){
            //        if(curCommentShowed == _allNewsCmtCount) {
            //            $("#loadMoreBtn").remove();
            //        }
            //    });
            //});

            loadAllNewsCmtCount(function(){
                loadNewsComt(_ncFirstSkip, _ncFirstTake, function() {
                    if(curCommentShowed == _allNewsCmtCount) {
                        $("#loadMoreBtn").remove();
                    }
                })
            })

            //_allNewsCmtCount = loadAllNewsCmtCount();
            ////curCommentShowed = $("#cmtList > div").length;
            //if(curCommentShowed == _allNewsCmtCount) {
            //    $("#loadMoreBtn").remove();
            //}
        });

        function loadAllNewsCmtCount(callback) {
            var count = 0;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetAllNewsCmtCount", "News")',
                data: {
                    id: @Model.Id,
                },
                success: function (result) {
                    if (result === "0") {
                        //count = 0;
                        _allNewsCmtCount = 0;
                    } else {
                        //count = parseInt(result);
                        _allNewsCmtCount = parseInt(result);
                    }
                },
                error: function (result) {
                    showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                },
            });

            callback();
        };

        function loadNewsComt(skip, take, callback) {
            return $.ajax({
                type: 'POST',
                url: '@Url.Action("LoadNewsComments", "News")',
                data: {
                    id: @Model.Id,
                    skip: skip,
                    take: take
                },
                success: function (result) {
                    if (result.Succeed) {
                        var data = result.AdditionalData;
                        $(data).each(function() {
                            var cmt = renderNewsCmt(this);
                            $("#cmtList").append(cmt);
                            curCommentShowed++;
                        })
                    } else {
                        showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                    }
                },
                error: function (result) {
                    showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                },
            }).then(function () {
                callback();
            });
        };

        function loadMoreNewsCmt() {
            loadNewsComt(_ncSkip, _ncTake, function(){
                _ncSkip = _ncSkip + _ncTake;
                if(curCommentShowed == _allNewsCmtCount) {
                    $("#loadMoreBtn").remove();
                }
            });
            if(curCommentShowed == _allNewsCmtCount) {
                $("#loadMoreBtn").remove();
            }
            //curCommentShowed = $("#cmtList > div").length;
            //if(curCommentShowed == _allNewsCmtCount) {
            //    $("#loadMoreBtn").remove();
            //}
            //_ncSkip = _ncSkip + _ncTake;
            
        }

        $("#newsCommentForm").submit(function (e) {
            e.preventDefault();
            var formData = new FormData(document.getElementById('newsCommentForm'));
            var returnNewsCommentId;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CreateNewsComment", "News")',
                async: false,
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result.Succeed) {
                        returnNewsCommentId = result.AdditionalData.Id;
                    } else {
                        showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                    }
                },
                error: function (result) {
                    showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                },
            });

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetNewsComtById", "News")',
                data: {
                    id: returnNewsCommentId,
                },
                success: function (result) {
                    if (result.Succeed) {
                        var cmt = renderNewsCmt(result.AdditionalData);
                        $("#cmtList").prepend(cmt);
                        $("#comment").val("");
                    } else {
                        showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                    }
                },
                error: function (result) {
                    showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                },
            });
        });

        function renderNewsCmt(data) {
            var cmt = '<div class="comment media">' +
                            '<div class="media-left">' +
                                '<a class="avatar avatar-lg" style="width:50px;height:50px;" href="/Profile/Index?userId=' + data.AspNetUser.Id + '">' +
                                    '<img src="' + data.AspNetUser.AvatarImage + '" alt="...">' +
                                '</a>' +
                            '</div>' +
                            '<div class="comment-body media-body">' +
                                '<a class="comment-author" href="/Profile/Index?userId=' + data.AspNetUser.Id + '">' + data.AspNetUser.FullName + '</a>' +
                                '<div class="comment-meta">' +
                                    '<span class="date">' + data.CommentAge + '</span>' +
                                '</div>' +
                                '<div class="comment-content">' +
                                    '<p>' + data.Comment + '</p>' +
                                '</div>' +
                            '</div>' +
                        '</div>';
            return cmt;
        }
    </script>

    }