@using Microsoft.AspNet.Identity;
@using SportsSocialNetwork.Models.Enumerable;
@using SportsSocialNetwork.Models.Utilities;
@{
    ViewBag.Title = "Quản lí đặt sân";
}

<div class="panel">
    <div class="panel-body">
        <div class="col-md-6">
            <h3>Quản lí đặt sân</h3>
        </div>
        <div class="col-md-6">
            <button class="btn btn-success pull-right" onclick="showCheckinModal()">Chek-in đơn đặt sân</button>
        </div>
    </div>

</div>

<!--Checkin modal-->
<div id="checkinModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form id="checkin-form" method="post" autocomplete="off">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Check-in đơn đặt sân</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group form-material floating">
                        <input class="form-control input-lg" type="text" name="orderCode" id="orderCode" />
                        <label class="floating-label">Nhập mã đơn đặt sân</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <input type="submit" id="CISubmitBtn" class="btn btn-success" value="Check-in" />
                </div>
            </div>
        </form>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <table class="table table-striped table-bordered table-hover" id="listOrderTable">
            <thead>
                <tr>
                    <th>Sân</th>
                    <th>Người đặt</th>
                    <th>Ngày đặt</th>
                    <th>Bắt đầu</th>
                    <th>Kết thúc</th>
                    <th>Phương thức thanh toán</th>
                    <th>Trạng thái</th>
                    <th>Chi tiết</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="orderDetail" aria-hidden="true"
     aria-labelledby="orderDetail" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="order-detail-modal-container"></div>
        </div>
    </div>
</div>

<!--unapprove modal-->
<div class="modal fade" id="reasonDeniedOrder" aria-hidden="true"
     aria-labelledby="orderDetail" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Không chấp nhận đơn đặt sân</h4>
            </div>
            <div class="modal-body">
                <div class="form-group form-material floating">
                    <textarea class="form-control" id="reason"></textarea>
                    <label class="floating-label">Lí do</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="deniedOrder()">Không chấp nhận</button>
            </div>
        </div>
    </div>
</div>

<!--cancel modal-->
<div class="modal fade" id="reasonCancelOrder" aria-hidden="true"
     aria-labelledby="orderDetail" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Hủy đơn đặt sân</h4>
            </div>
            <div class="modal-body">
                <div class="form-group form-material floating">
                    <textarea class="form-control" id="cancelreason"></textarea>
                    <label class="floating-label">Lí do</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="cancelOrder()">Hủy đơn đặt sân</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script>
        var curSelectOrder;
        var cstatus;
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);

        //unapproove order
        function deniedOrder() {
            var rs = $("#reason").val();
            if (rs != "" && rs != null) {
                $.ajax({
                    url: '@Url.Action("updateStatusOrder")',
                    type: 'Get',
                    data: {
                        id: curSelectOrder,
                        status: cstatus,
                        reason: rs
                    },
                    success: function (data) {
                        if (data === "success") {
                            $('#orderDetail').modal('hide');
                            showMessage("Cập nhật thành công", "success", "OK");
                            RefreshTable();
                            $("#reason").empty();
                        } else {
                            showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                        }
                    },
                    error: function (error) {
                        showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                    }
                });
            } else {
                showMessage("Vui lòng nhập lí do", "error", "OK");
            }
            
        };


        //cancel order
        function cancelOrder() {
            var rs = $("#cancelreason").val();
            if (rs != "" && rs != null) {
                $.ajax({
                    url: '@Url.Action("updateStatusOrder")',
                    type: 'Get',
                    data: {
                        id: curSelectOrder,
                        status: cstatus,
                        reason: rs
                    },
                    success: function (data) {
                        if (data === "success") {
                            $('#orderDetail').modal('hide');
                            showMessage("Cập nhật thành công", "success", "OK");
                            RefreshTable();
                            $("#cancelreason").empty();
                        } else {
                            showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                        }
                    },
                    error: function (error) {
                        showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                    }
                });
            } else {
                showMessage("Vui lòng nhập lí do", "error", "OK");
            }
            
        };

        function updateStatus(id, status) {
            if (status == parseInt('@((int)OrderStatus.Unapproved)')) {
                $('#reasonDeniedOrder').modal('show');
                $('#reasonDeniedOrder').on('shown', function () {
                    $("#reason").focus();
                })
                curSelectOrder = id;
                cstatus = status;
            } else if (status == parseInt('@((int)OrderStatus.Cancel)')) {
                $('#reasonCancelOrder').modal('show');
                $('#reasonCancelOrder').on('shown', function () {
                    $("#cancelreason").focus();
                })
                curSelectOrder = id;
                cstatus = status;
            }
            else {
                $.ajax({
                    url: '@Url.Action("updateStatusOrder")',
                    type: 'Get',
                    data: {
                        id: id,
                        status: status,
                        reason: ""
                    },
                    success: function (data) {
                        if (data === "success") {
                            $('#orderDetail').modal('hide');
                            showMessage("Cập nhật thành công", "success", "OK");
                            RefreshTable();
                        } else {
                            showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                        }
                    },
                    error: function (error) {
                        showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                    }
                });
            }

        };

        function showDetailModal(id) {
            $.ajax({
                url: '@Url.Action("OrderDetail")',
                type: 'Get',
                data: { id: id },
                success: function (data) {
                    $('#order-detail-modal-container').html(data);
                    $('#orderDetail').modal('show');
                },
                error: function (error) {
                    showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                }
            });
        };

        //checkin
        function showCheckinModal() {
            $("#checkinModal").modal('show');
        };


        (function () {
            $('#checkin-form').formValidation({
                framework: "bootstrap",
                button: {
                    selector: '#CISubmitBtn',
                    disabled: 'disabled'
                },
                icon: null,
                fields: {
                    orderCode: {
                        validators: {
                            notEmpty: {
                                message: 'Vui lòng nhập mã đặt sân'
                            },
                            regexp: {
                                regexp: /^[1-9][0-9]*$/,
                                message: "Mã đặt sân là một chuỗi số"
                            }
                        }
                    }
                }
            }).on('success.form.fv', function (e) {
                e.preventDefault();
                var formData = new FormData(document.getElementById('checkin-form'));
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CheckinOrder", "Order")',
                    async: false,
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.Succeed) {
                            showMessage("Cập nhật thành công", "success", "OK");
                            $('#checkinModal').modal('hide');
                            RefreshTable();
                        } else {
                            showErrors(result.Errors);
                            //showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                        }
                    },
                    error: function (result) {
                        showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                    },
                });
            });
        })();

        function paidOrder(id) {
            $.ajax({
                url: '@Url.Action("ConfirmPaid", "Order")',
                type: 'POST',
                data: {
                    id: id,
                    status: status,
                    reason: ""
                },
                success: function (data) {
                    if (data.Succeed) {
                        showMessage("Cập nhật thành công", "success", "OK");
                        $('#orderDetail').modal('hide');
                        RefreshTable();
                    } else {
                        showErrors(result.Errors);
                    }
                },
                error: function (error) {
                    showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                }
            });
        };

        function RefreshTable() {
            var oTable = $("#listOrderTable").dataTable();
            oTable._fnPageChange(0);
            oTable._fnAjaxUpdate();
        };

        function InitDatatable() {
            $("#listOrderTable").DataTable({
                "bRetrieve": true,
                "bServerSide": true,
                "bScrollCollapse": true,
                "bSort": true,
                "sAjaxSource": "/PlaceOwner/Order/GetData",
                "bProcessing": true,
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "userID", "value": '@User.Identity.GetUserId()' });
                },
                "aLengthMenu": [10, 20, 50],
                "oLanguage": {
                    "sSearch": "Tìm kiếm:",
                    "sZeroRecords": "Không có dữ liệu phù hợp",
                    "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                    "sEmptyTable": "Không có dữ liệu",
                    "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                    "sLengthMenu": "Hiển thị _MENU_ dòng",
                    "sProcessing": "Đang xử lý...",
                    "oPaginate": {
                        "sPrevious": "Trang trước",
                        "sNext": "Trang kế"
                    }
                },

                @*"fnDrawCallback": function (settings) {
                    $(':checkbox').change(function () {
                        if ($(this).prop('checked') == true) {
                            $.ajax({
                                url: "/BlogPostManage/@ViewBag.storeId/@ViewBag.storeName/BlogPost/ChangeStatus",
                                type: 'POST',
                                data: {
                                    'blogPostId': $(this).val(),
                                    'status': 'Activate'
                                },
                                dataType: 'json',
                                success: function (result) {
                                    ReDrawDatatable("listBlogPostTable");
                                }
                            });
                        } else {
                            $.ajax({
                                url: "/BlogPostManage/@ViewBag.storeId/@ViewBag.storeName/BlogPost/ChangeStatus",
                                type: 'POST',
                                data: {
                                    'blogPostId': $(this).val(),
                                    'status': 'Deactivate'
                                },
                                dataType: 'json',
                                success: function (result) {
                                    ReDrawDatatable("listBlogPostTable");
                                }
                            });
                        }
                    });
                },*@
                "aoColumnDefs": [
                    {
                        "aTargets": [0],
                        "mRender": function (data, type, o) {
                            return o[1];
                        }
                    },
                    {
                        "aTargets": [1],
                        "mRender": function (data, type, o) {
                            return o[2];
                        }
                    },
                    {
                        "aTargets": [2],
                        "mRender": function (data, type, o) {
                            //var date = new Date(parseInt(o[3].substr(6)));
                            //var month = parseInt(date.getMonth()) + 1;
                            //var formattedDate = date.getDate() + "/" + month + "/" + date.getFullYear() + " " + date.getHours() + ":" + date.getMinutes();
                            //return "<p>" + formattedDate + "</p>";
                            return o[3];
                        }
                    },
                    {
                        "aTargets": [3],
                        "mRender": function (data, type, o) {
                            return o[4];
                        }
                    },
                    {
                        "aTargets": [4],
                        "mRender": function (data, type, o) {
                            return o[5];
                        }
                    },
                    {
                        "aTargets": [5],
                        "mRender": function (data, type, o) {
                            if (o[6] == parseInt('@((int)OrderPaidType.ChosePayOnline)')) {
                                return "<span class='label label-lg label-outline label-warning'>@Utils.GetEnumDescription(OrderPaidType.ChosePayOnline).ToString()</span>";
                            } else if (o[6] == parseInt('@((int)OrderPaidType.ChosePayByCash)')) {
                                return "<span class='label label-lg label-outline label-warning'>@Utils.GetEnumDescription(OrderPaidType.ChosePayByCash).ToString()</span>";
                            } else if (o[6] == parseInt('@((int)OrderPaidType.PaidByCash)')) {
                                return "<span class='label label-lg label-outline label-success'>@Utils.GetEnumDescription(OrderPaidType.PaidByCash).ToString()</span>";
                            } else if (o[6] == parseInt('@((int)OrderPaidType.PaidOnline)')) {
                                return "<span class='label label-lg label-outline label-success'>@Utils.GetEnumDescription(OrderPaidType.PaidOnline).ToString()</span>";
                            }
                        }
                    },
                    {
                        "aTargets": [6],
                        "mRender": function (data, type, o) {
                            if (o[7] == parseInt('@((int)OrderStatus.Pending)')) {
                                return "<span class='label label-lg label-outline label-warning'>@Utils.GetEnumDescription(OrderStatus.Pending).ToString()</span>";
                            } else if(o[7] == parseInt('@((int)OrderStatus.Approved)')) {
                                return "<span class='label label-lg label-outline label-success'>@Utils.GetEnumDescription(OrderStatus.Approved).ToString()</span>";
                            } else if(o[7] == parseInt('@((int)OrderStatus.Cancel)')) {
                                return "<span class='label label-lg label-outline label-default'>@Utils.GetEnumDescription(OrderStatus.Cancel).ToString()</span>";
                            } else if(o[7] == parseInt('@((int)OrderStatus.Unapproved)')) {
                                return "<span class='label label-lg label-outline label-dark'>@Utils.GetEnumDescription(OrderStatus.Unapproved).ToString()</span>";
                            } else if(o[7] == parseInt('@((int)OrderStatus.CheckedIn)')) {
                                return "<span class='label label-lg label-outline label-info'>@Utils.GetEnumDescription(OrderStatus.CheckedIn).ToString()</span>";
                            }
                        }
                    },
                    {
                        "aTargets": [7],
                        "bSortable": false,
                        "mRender": function (data, type, o) {
                            return "<button class='btn btn-success' onclick='showDetailModal(" + o[0] + ")' data-target='#orderDetail' data-toggle='modal' type='button'><i class='fa fa-eye' aria-hidden='true'></i></button>";
                        }
                    }

                ],

            });
        };

        $(document).ready(function () {
            InitDatatable();
            RefreshTable();
            //loadlist();
        });

    </script>
    
    }