@model SportsSocialNetwork.Areas.PlaceOwner.Models.ViewModels.OrderDetailViewModel
@using SportsSocialNetwork.Models.Enumerable;
@using SportsSocialNetwork.Models.Utilities;
@{
    ViewBag.Title = "Chi tiết đơn đặt sân";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">Chi tiết đặt sân</h4>
</div>
<div class="modal-body">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <div class="col-md-6">
                <div class="carousel slide" id="exampleCarouselDefault" data-ride="carousel">
                    <ol class="carousel-indicators carousel-indicators-fall">
                        @{
                            for (int i = 0; i < Model.Field.FieldImages.Count; i++)
                            {
                                if (i == 0)
                                {
                                    <li class="active" data-slide-to="0" data-target="#exampleCarouselDefault"></li>
                                }
                                else
                                {
                                    <li class="" data-slide-to="0" data-target="#exampleCarouselDefault"></li>
                                }

                            }
                        }
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        @{
                            for (int i = 0; i < Model.Field.FieldImages.Count; i++)
                            {
                                if (i == 0)
                                {
                                    <div class="item active">
                                        <img class="width-full" src="@Model.Field.FieldImages.ToList()[i].Image" alt="..." />
                                    </div>
                                }
                                else
                                {
                                    <div class="item">
                                        <img class="width-full" src="@Model.Field.FieldImages.ToList()[i].Image" alt="..." />
                                    </div>
                                }

                            }
                        }
                    </div>
                    <a class="left carousel-control" href="#exampleCarouselDefault" role="button" data-slide="prev">
                        <span class="icon wb-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#exampleCarouselDefault" role="button"
                       data-slide="next">
                        <span class="icon wb-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <ul class="list-group list-group-full">
                    <li class="list-group-item">@Model.Field.Name</li>
                    <li class="list-group-item">Địa chỉ: @Model.Field.Place.Address</li>
                    <li class="list-group-item">Loại sân: @Model.Field.FieldType.Name</li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Người đặt: </strong>@Model.AspNetUser.FullName</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Số điện thoại: </strong>@Model.AspNetUser.PhoneNumber</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Ngày giờ đặt: </strong>@Model.CreateDate</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Thành tiền: </strong>@Model.Price.ToString("N0") VND</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @{
                        if (Model.PaidType == (int)OrderPaidType.ChosePayOnline)
                        {
                            <strong>Phương thức thanh toán: </strong><span class="label label-lg label-outline label-info">@Utils.GetEnumDescription(OrderPaidType.ChosePayOnline).ToString()</span>
                        }
                        else if(Model.PaidType == (int)OrderPaidType.ChosePayByCash)
                        {
                            <strong>Phương thức thanh toán: </strong><span class="label label-lg label-outline label-success">@Utils.GetEnumDescription(OrderPaidType.ChosePayByCash).ToString()</span>
                        }
                    }

                </div>
                <div class="col-md-6">
                    @{
                        if (Model.Status == (int)OrderStatus.Pending)
                        {
                            <strong>Tình trạng đơn đặt sân: </strong><span class="label label-lg label-outline label-warning">@Utils.GetEnumDescription(OrderStatus.Pending)</span>
                        }
                        else if (Model.Status == (int)OrderStatus.Approved)
                        {
                            <strong>Tình trạng đơn đặt sân: </strong><span class="label label-lg label-outline label-success">@Utils.GetEnumDescription(OrderStatus.Approved)</span>
                        }
                        else if(Model.Status == (int)OrderStatus.Cancel)
                        {
                            <strong>Tình trạng đơn đặt sân: </strong><span class="label label-lg label-outline label-default">@Utils.GetEnumDescription(OrderStatus.Cancel)</span>
                        }
                        else if (Model.Status == (int)OrderStatus.Unapproved)
                        {
                            <strong>Tình trạng đơn đặt sân: </strong><span class="label label-lg label-outline label-dark">@Utils.GetEnumDescription(OrderStatus.Unapproved)</span>
                        }
                        else if (Model.Status == (int)OrderStatus.CheckedIn)
                        {
                            <strong>Tình trạng đơn đặt sân: </strong><span class="label label-lg label-outline label-info">@Utils.GetEnumDescription(OrderStatus.CheckedIn)</span>
                        }

                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    @{
        switch (Model.Status)
        {
            case (int)OrderStatus.Approved:
                if (Model.Status == (int)OrderStatus.Cancel)
                {
                    <div class="col-md-4">
                        <button class="btn btn-warning" id="cancelBtn" onclick="updateStatus(@Model.Id, @((int)OrderStatus.Cancel))" disabled>Hủy đơn đặt sân</button>
                    </div>
                }
                else
                {
                    <div class="col-md-4">
                        <button class="btn btn-warning" id="cancelBtn" onclick="updateStatus(@Model.Id, @((int)OrderStatus.Cancel))">Hủy đơn đặt sân</button>
                    </div>
                }
                <div class="col-md-4">
                    <button class="btn btn-danger" id="deniedBtn" onclick="updateStatus(@Model.Id, @((int)OrderStatus.Unapproved))" disabled>Không chấp nhận</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-success" id="acceptBtn" onclick="updateStatus(@Model.Id, @((int)OrderStatus.Approved))" disabled>Chấp nhận</button>
                </div>

                break;

            case (int)OrderStatus.Unapproved:
            case (int)OrderStatus.Cancel:

                <div class="col-md-4">
                    <button class="btn btn-warning" id="cancelBtn" onclick="updateStatus(@Model.Id, @((int)OrderStatus.Cancel))" disabled>Hủy đơn đặt sân</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-danger" id="deniedBtn" onclick="updateStatus(@Model.Id, @((int)OrderStatus.Unapproved))" disabled>Không chấp nhận</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-success" id="acceptBtn" onclick="updateStatus(@Model.Id, @((int)OrderStatus.Approved))" disabled>Chấp nhận</button>
                </div>

                break;
            case (int)OrderStatus.Pending:
                <div class="col-md-4">
                    <button class="btn btn-warning" id="cancelBtn" onclick="updateStatus(@Model.Id, @((int)OrderStatus.Cancel))">Hủy đơn đặt sân</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-danger" id="deniedBtn" onclick="updateStatus(@Model.Id, @((int)OrderStatus.Unapproved))">Không chấp nhận</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-success" id="acceptBtn" onclick="updateStatus(@Model.Id, @((int)OrderStatus.Approved))">Chấp nhận</button>
                </div>

                break;
        }
    }
    
    @*<div class="col-md-4">
        <button class="btn btn-warning" onclick="updateStatus(@Model.Id, 4)">Đóng đơn hàng</button>
    </div>*@
</div>


@*<div class="panel panel-bordered">
    <div class="panel-heading">
        <div class="col-md-5">
            <img src="@Model.Field.FieldImages" style="max-width:100%; max-height:100%; display:block" />
        </div>
        <div class="col-md-7">
            <ul class="list-group list-group-full">
                <li class="list-group-item">@Model.Field.Name</li>
                <li class="list-group-item">Địa chỉ: @Model.Field.Place.Address</li>
                <li class="list-group-item">Loại sân: @Model.Field.FieldType.Name</li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <p><strong>Người đặt: </strong>@Model.AspNetUser.FullName</p>
            </div>
            <div class="col-md-6">
                <p><strong>Số điện thoại: </strong>@Model.AspNetUser.PhoneNumber</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p><strong>Ngày giờ đặt: </strong>@Model.CreateDate</p>
            </div>
            <div class="col-md-6">
                <p><strong>Thành tiền: </strong>@Model.Price</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @{
                    if (Model.PaidType == 1)
                    {
                        <strong>Phương thức thanh toán: </strong><span class="label label-lg label-outline label-info">Online</span>
                    }
                    else
                    {
                        <strong>Phương thức thanh toán: </strong><span class="label label-lg label-outline label-dark">Tiền mặt</span>
                    }
                }
                
            </div>
            <div class="col-md-6">
                @{
                    if (Model.PaidType == 1)
                    {
                        <strong>Tình trạng đơn đặt sân: </strong><span class="label label-lg label-outline label-warning">Chưa thanh toán</span>
                    }
                    else if (Model.PaidType == 2)
                    {
                        <strong>Tình trạng đơn đặt sân: </strong><span class="label label-lg label-outline label-success">Đã thanh toán</span>
                    }
                    else
                    {
                        <strong>Tình trạng đơn đặt sân: </strong><span class="label label-lg label-outline label-success">Đã hủy</span>
                    }
                }
            </div>
        </div>
    </div>
</div>*@