@model SportsSocialNetwork.Models.Entities.FieldSchedule
@{
    ViewBag.Title = "Create";
    List<SelectListItem> scheduleType = ViewBag.scheduleType;
    List<SelectListItem> selectListField = ViewBag.selectListField;
    int placeId = ViewBag.placeId;
}
<style>
    .bootstrap-select {
        width: 100% !important;
    }

    .clockpicker-popover {
        z-index: 999999;
    }

    .timepicker {
        z-index: 5000 !important;
        position: absolute;
    }

    dt, dd {
        font-size: 1.1em;
    }

    .title, .detail {
        font-size: 1.1em;
        color: #000;
    }

    .title {
        font-weight: bold;
        text-align: left;
    }

    .detail {
        margin-left: 2px;
    }

    .bootstrap-select {
        width: 100% !important;
    }

    .datepair-wrap {
        position: relative;
        overflow: hidden;
    }

    .input-daterange-wrap {
        float: left;
    }

    .input-daterange-to {
        float: left;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
    }
</style>


    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">Thêm mới</h4>
</div>
@using (Html.BeginForm("Create", "FieldSchedule", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return checkDateTimeInput()", @id = "create-form" }))
{
    <input type="hidden" name="placeId" value="@placeId" />
<div class="modal-body" style="padding-bottom:0;" id="modalBody">
    <div class="row">
        <div class="panel " style="margin-bottom:0;">
            <div class="panel-body">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Chọn sân</label>
                        @Html.DropDownListFor(m => m.FieldId, selectListField, new { @class = "form-control input-lg", @id = "fieldId" })
                    </div>
                    <label class="control-label">Từ ngày: </label>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon wb-calendar" aria-hidden="true"></i>
                            </span>
                            <input type="text" class="datepicker form-control" id="cstartDay" name="StartDay" data-placement="right" data-align="top" data-plugin="datepicker" data-autoclose="true" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Đến ngày: </label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon wb-calendar" aria-hidden="true"></i>
                            </span>
                            <input type="text" class="datepicker form-control" id="cendDay" name="EndDay" data-placement="right" data-align="top" data-plugin="datepicker" data-autoclose="true" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Loại</label>
                        @Html.DropDownListFor(m => m.Type, scheduleType, new { @class = "form-control input-lg" })
                    </div>
                    <div class="form-group">
                        <label class="control-label">Giờ:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon wb-time" aria-hidden="true"></i>
                            </span>
                            <input type="text" name="StartTime" id="cstartTime" class="timepicker form-control" data-placement="right" data-align="top" data-plugin="clockpicker" data-autoclose="true" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Giờ:</label>
                        <div class="input-group clockpicker-wrap">
                            <span class="input-group-addon">
                                <i class="icon wb-time" aria-hidden="true"></i>
                            </span>
                            <input type="text" name="EndTime" id="cendTime" class="timepicker form-control" data-placement="right" data-align="top" data-plugin="clockpicker" data-autoclose="true" value="" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label">Mô tả</label>
                        <div>
                            @Html.TextAreaFor(m => m.Description, new { @style = "width:100%" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" id="noti">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
    <button type="submit" class="btn btn-success" id="csubmitBtn" onclick="return checkDateTimeInput()">Tạo lịch</button>
</div>
}
@*<form id="create-form" action="Create" method="post">
    
</form>*@
@section Scripts{

    <script>
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);

        @*function checkDateTimeInput() {
            var fieldId = $('#fieldId option:selected').val()
            var startDay = $("#cstartDay");
            var endDay = $("#cendDay");
            var startTime = $("#cstartTime");
            var endTime = $("#cendTime");

            $.ajax({
                type: 'POST',
                url: '@Url.Action("checkDTValid")',
                data: {
                    fieldId: fieldId,
                    startDay: startDay,
                    endDay: endDay,
                    startTime: startTime,
                    endTime: endDay
                },
                success: function (data) {
                    if (data === "success") {

                        return true;
                    }
                    else {
                        var noti = "<p class='alert alert-danger'>Khung giờ này đã tồn tại</p>";
                        $("#noti").empty();
                        $("#noti").append(noti);
                        return false;
                    }
                },
                error: function (error) {
                    showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                }
            });
        }*@

    </script>
}

