@model SportsSocialNetwork.Areas.PlaceOwner.Models.ViewModels.FieldScheduleDetailViewModel
@using SportsSocialNetwork.Models.Enumerable;
@using SportsSocialNetwork.Models.Utilities;
@{
    ViewBag.Title = "Detail";
}
<style>
    dt, dd {
        font-size: 1.1em;
    }

    .title, .detail {
        font-size: 1.1em;
        color: #000;
    }

    .title {
        font-weight: 400;
        text-align: left;
    }

    .detail {
        margin-left: 2px;
        font-weight: 500;
    }

    dt {
        text-align: left !important;
        
        margin-bottom:10px!important;
    }
    dd{
        
        margin-top:10px!important;
        margin-bottom:10px!important;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">Chi tiết</h4>
</div>
<div class="modal-body" id="modalBody">
    <div class="row">
        <div>
            <div class="panel">
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Địa điểm:</dt>
                        <dd>@Model.Field.Place.Name</dd>
                        <dt>Sân:</dt>
                        <dd>@Model.Field.Name</dd>
                        @if (Model.Type == (int)FieldScheduleStatus.Booked)
                        {
                            <dt>Người đặt:</dt>
                            if (Model.AspNetUser != null)
                            {
                                <dd>@Model.AspNetUser.FullName</dd>
                            }
                            else
                            {
                                <dd>Người lạ</dd>
                            }

                        }
                        
                        <dt>Từ ngày:</dt>
                        <dd>@Model.StartDate.ToString("dd/MM/yyyy")</dd>
                        <dt>Đến ngày:</dt>
                        <dd>@Model.EndDate.ToString("dd/MM/yyyy")</dd>
                        <dt>Thời gian:</dt>
                        <dd>@(Model.StartTime.ToString() + " - " + Model.EndTime.ToString())</dd>
                        <dt>Lặp lại: </dt>
                        <dd>@Model.AvailableDayStr</dd>
                        <dt>Loại:</dt>
                        <dd>
                            @{
                                if (Model.Type == (int)FieldScheduleStatus.Booked)
                                {
                                    <span class="label label-outline label-success">@Utils.GetEnumDescription(FieldScheduleStatus.Booked)</span>
                                }
                                else if (Model.Type == (int)FieldScheduleStatus.Event)
                                {
                                    <span class="label label-outline label-success">@Utils.GetEnumDescription(FieldScheduleStatus.Event)</span>
                                }
                                else if (Model.Type == (int)FieldScheduleStatus.Repair)
                                {
                                    <span class="label label-outline label-danger">@Utils.GetEnumDescription(FieldScheduleStatus.Repair)</span>
                                }
                                else if (Model.Type == (int)FieldScheduleStatus.Other)
                                {
                                    <span class="label label-outline label-warning">@Utils.GetEnumDescription(FieldScheduleStatus.Other)</span>
                                }
                            }
                        </dd>
                        <dt>Mô tả: </dt>
                        <dd>@Model.Description</dd>
                    </dl>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
    <button type="button" class="btn btn-success" onclick="switchToUpdate(@Model.Id)">Cập nhật</button>
</div>
