@model SportsSocialNetwork.Models.ViewModels.OrderViewModel

@{
    ViewBag.Title = "ConfirmOrder";
    Layout = "~/Views/Shared/_BookingFieldLayout.cshtml";
}
<style>
    .imgWH100 {
        width: 100%;
        vertical-align: middle;
        height: 100%;
    }
</style>
@using (Html.BeginForm("CallPayment", "Order", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "orderForm" }))
{
<div class="panel padding-top-20 col-md-offset-2 col-md-8">
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="col-md-12">
                    <div class="col-md-9">
                        <h4 style="height:100px;width:100px">
                            <img class="margin-right-10 imgWH100" src="@ViewBag.avatar"
                                 alt="...">
                        </h4>
                    </div>
                </div>
                <address>
                    <abbr title="Name">Khách hàng:</abbr>&nbsp;&nbsp;@User.Identity.Name
                </address>
            </div>
            <div class="col-md-5 col-md-offset-2 text-right">
                @Html.HiddenFor(p => p.FieldId)
                @Html.HiddenFor(p => p.StartTime)
                @Html.HiddenFor(p => p.EndTime)
                @Html.HiddenFor(p => p.Note)
                @Html.HiddenFor(p => p.CreateDate)
                @Html.HiddenFor(p => p.Price)
                <h4>Thông tin đặt sân</h4>
                <address>Địa điểm:
                    <br>
                    <span class="font-size-20">@ViewBag.place.Name</span>
                    <br>
                    <span class="font-size-12">(@ViewBag.place.Address, Quận @ViewBag.place.District, @ViewBag.place.City)</span>
                </address>
            </div>
        </div>

        <div class="page-invoice-table table-responsive">
            <table class="table table-hover text-right">
                <thead>
                    <tr>
                        <th class="text-center">Tên sân</th>
                        <th class="text-center">Thời gian sử dụng</th>
                        <th class="text-right">Thành tiền(vnd)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            @ViewBag.field.Name
                        </td>
                        <td class="text-center">
                            @Model.StartTime.ToShortTimeString() - @Model.EndTime.ToShortTimeString(), Ngày @ViewBag.playDate.ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            @Model.Price
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 col-md-offset-8 text-right clearfix">
            
        </div>
        <div class="col-md-12 padding-0">
            <div class="col-md-7 padding-0">
                    @if (Model.Note != "" && Model.Note != null)
                    {
                        <p style="font-weight:bold">
                            Ghi chú:
                            </p>
                            <span class="text-right">@Model.Note</span>
                    }
                    
                </div>
            <div class="text-right col-md-5 padding-0">
                <div class="form-group col-md-12 padding-0">
                    <p style="font-weight:bold">Phương thức thanh toán:</p>
                    <div class="radio-custom radio-default radio-inline">
                        @Html.RadioButtonFor(model => model.PaidType, 0, new { @class = "paymentRadio", @checked = "" })
                        @Html.Label("paidType", "Online")
                    </div>
                    <div class="radio-custom radio-default radio-inline">
                        @Html.RadioButtonFor(model => model.PaidType, 1, new { @class = "paymentRadio" })
                        @Html.Label("paidType", "Tiền mặt")
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <button type="button" class="btn btn-primary" id="createOrder">
                        <span> Xác nhận</span>
                    </button>
                    <button type="button" class="btn btn-info" id="viewOrderHistory">
                        <span> Xem lịch sử đặt sân</span>
                    </button>
                    <button type="button" class="btn btn-default btn-outline"
                            onclick="window.history.back();">
                        <span>Quay lại</span>
                    </button>
                    </div>
                </div>
        </div>
    </div>
</div>
}
@section Scripts{
<script>
    $(document).ready(function () {
        $("#viewOrderHistory").hide();
    });
    $("#createOrder").click(function () {
        var paidType = $('[name="PaidType"]:checked').val();
        if(paidType == 0){
            //waiting
        }else{
            $.ajax({
                url: "CreateOrder",
                type: 'POST',
                data: {
                    'fieldId': @Model.FieldId,
                    'startTime': '@Model.StartTime.ToString("hh:mm:ss")',
                    'endTime': '@Model.EndTime.ToString("hh:mm:ss")',
                    'note': '@Model.Note',
                    'price': @Model.Price,
                    'paidType': paidType,
                    'useDate': '@ViewBag.playDate.ToShortDateString()',
                },
                dataType: 'json',
                success: function (result) {
                    $("#createOrder").hide();
                    $("#viewOrderHistory").show();
                    $('.paymentRadio').attr("disabled", true);
                    showMessage("Đặt sân thành công!", "success", "OK");
                },
                error: function (error) {
                    showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                }
            });
        }
    });
</script>    
}