@model SportsSocialNetwork.Models.ViewModels.OrderViewModel
@using SportsSocialNetwork.Models.Enumerable
@using SportsSocialNetwork.Models.Utilities
@{
    ViewBag.Title = "Chi tiết đơn đặt sân";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">Chi tiết đặt sân</h4>
</div>
<div class="modal-body  padding-top-0">
    <div class="panel panel-bordered">
        <div class="panel-body container-fluid padding-0">
            <address>
                Địa điểm:
                <br>
                <span class="font-size-20">@ViewBag.place.Name</span>
                <br>
                <span class="font-size-12">(@ViewBag.place.Address, @ViewBag.place.District, @ViewBag.place.City)</span>
            </address>
            <div class="page-invoice-table table-responsive">
                <table class="table table-hover text-right">
                    <thead>
                        <tr>
                            <th class="text-center">Tên sân</th>
                            <th class="text-center">Thời gian sử dụng</th>
                            <th class="text-right">Giá(vnd)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                @ViewBag.field.Name
                            </td>
                            <td class="text-center">
                                @Model.StartTime.ToString("dd-MM-yyyy"), @Model.StartTime.ToString("HH:mm") - @Model.EndTime.ToString("HH:mm")
                            </td>
                            <td>
                                @Model.Price.ToString("n0")
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 padding-0">
                <div class="col-md-7 padding-0">
                    @if (Model.Note != "" && Model.Note != null)
                    {
                        <p style="font-weight:bold">
                            Ghi chú:
                        </p>
                        <span class="text-right">@Model.Note</span>
                    }

                </div>
                <div class="text-right col-md-5 padding-0">
                    <div class="form-group col-md-12 padding-0">
                        <p style="font-weight:bold">Phương thức thanh toán:</p>
                        @if (Model.PaidType == (int)OrderPaidType.ChosePayOnline)
                        {
                            <span class='label label-lg label-outline label-dark'>@Utils.GetEnumDescription(OrderPaidType.ChosePayOnline).ToString()</span>
                        }
                        else if (Model.PaidType == (int)OrderPaidType.ChosePayByCash)
                        {
                            <span class='label label-lg label-outline label-dark'>@Utils.GetEnumDescription(OrderPaidType.ChosePayByCash).ToString()</span>
                        }
                        else if (Model.PaidType == (int)OrderPaidType.PaidByCash)
                        {
                            <span class='label label-lg label-outline label-success'>@Utils.GetEnumDescription(OrderPaidType.PaidByCash).ToString()</span>
                        }
                        else if (Model.PaidType == (int)OrderPaidType.PaidOnline)
                        {
                            <span class='label label-lg label-outline label-primary'>@Utils.GetEnumDescription(OrderPaidType.PaidOnline).ToString()</span>
                        }
                        else
                        {
                            <span class='label label-lg label-outline label-dark'>Không xác định</span>
                        }
                    </div>
                    <div class="form-group col-md-12 padding-0">
                        <p style="font-weight:bold">Trạng thái đơn đặt:</p>
                        @if (Model.Status == (int)OrderStatus.Pending)
                        {
                            <span class='label label-lg label-outline label-warning'>@Utils.GetEnumDescription(OrderStatus.Pending).ToString()</span>
                        }
                        else if (Model.Status == (int)OrderStatus.Approved)
                        {
                            <span class='label label-lg label-outline label-success'>@Utils.GetEnumDescription(OrderStatus.Approved).ToString()</span>
                        }
                        else if (Model.Status == (int)OrderStatus.Unapproved)
                        {
                            <span class='label label-lg label-outline label-danger'>@Utils.GetEnumDescription(OrderStatus.Unapproved).ToString()</span>
                        }
                        else if (Model.Status == (int)OrderStatus.Cancel)
                        {
                            <span class='label label-lg label-outline label-dark'>@Utils.GetEnumDescription(OrderStatus.Cancel).ToString()</span>
                        }
                        else if (Model.Status == (int)OrderStatus.CheckedIn)
                        {
                            <span class='label label-lg label-outline label-primary'>@Utils.GetEnumDescription(OrderStatus.CheckedIn).ToString()</span>
                        }
                        else
                        {
                            <span class='label label-lg label-outline label-dark'>Không xác định</span>;
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer text-right">
    @if ((Model.PaidType == (int)OrderPaidType.ChosePayOnline || Model.PaidType == (int)OrderPaidType.ChosePayByCash) &&
        Model.Status != (int)OrderStatus.Cancel && Model.Status != (int)OrderStatus.Unapproved && 
        Model.Status != (int)OrderStatus.CheckedIn)
    {
        <form id="onlineform" action="@Url.Action("PayOnlineNow", "Order")" class="form-horizontal padding-bottom-10" method="get">

            @Html.HiddenFor(p => p.Id)
            @Html.HiddenFor(p => p.OrderCode)
            <input type="submit" value="Thanh toán online ngay" class="btn btn-primary">
        </form>
        <button class="btn btn-danger" onclick="CancelOrder(@Model.Id)">Hủy đặt sân</button>
    }

    <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>



</div>
