@model SportsSocialNetwork.Models.ViewModels.OrderViewModel
@using SportsSocialNetwork.Models.Enumerable;
@{
    ViewBag.Title = "Chi tiết đơn đặt sân";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">Chi tiết đặt sân</h4>
</div>
<div class="modal-body  padding-top-0">
    <div class="panel panel-bordered">
        <div class="panel-body container-fluid padding-0">
            <address>
                Địa điểm:
                <br>
                <span class="font-size-20">@ViewBag.place.Name</span>
                <br>
                <span class="font-size-12">(@ViewBag.place.Address, Quận @ViewBag.place.District, @ViewBag.place.City)</span>
            </address>
            <div class="page-invoice-table table-responsive">
                <table class="table table-hover text-right">
                    <thead>
                        <tr>
                            <th class="text-center">Tên sân</th>
                            <th class="text-center">Thời gian sử dụng</th>
                            <th class="text-right">Giá(vnd)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                @ViewBag.field.Name
                            </td>
                            <td class="text-center">
                                @Model.StartTime.ToString("dd-MM-yyyy"), @Model.StartTime.ToString("HH:mm") - @Model.EndTime.ToString("HH:mm")
                            </td>
                            <td>
                                @Model.Price
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 padding-0">
                <div class="col-md-7 padding-0">
                    @if (Model.Note != "" && Model.Note != null)
                    {
                        <p style="font-weight:bold">
                            Ghi chú:
                        </p>
                        <span class="text-right">@Model.Note</span>
                    }

                </div>
                <div class="text-right col-md-5 padding-0">
                    <div class="form-group col-md-12 padding-0">
                        <p style="font-weight:bold">Phương thức thanh toán:</p>
                        @if (Model.PaidType == 1)
                        {
                            <span class='label label-lg label-outline label-dark'>Online-Chưa thanh toán</span>
                        }
                        @if (Model.PaidType == 2)
                        {
                            <span class='label label-lg label-outline label-dark'>Tiền mặt-Chưa thanh toán</span>
                        }
                        @if (Model.PaidType == 3)
                        {
                            <span class='label label-lg label-outline label-success'>Tiền mặt-Đã thanh toán</span>
                        }
                        @if (Model.PaidType == 4)
                        {
                            <span class='label label-lg label-outline label-primary'>Online-Đã thanh toán</span>
                        }
                    </div>
                    <div class="form-group col-md-12 padding-0">
                        <p style="font-weight:bold">Trạng thái đơn đặt:</p>
                        @if (Model.Status == 1)
                        {
                            <span class='label label-lg label-outline label-warning'>Đang chờ duyệt</span>
                        }
                        @if (Model.Status == 2)
                        {
                            <span class='label label-lg label-outline label-success'>Đã được chấp nhận</span>
                        }
                        @if (Model.Status == 3)
                        {
                            <span class='label label-lg label-outline label-danger'>Không được chấp nhận</span>
                        }
                        @if (Model.Status == 4)
                        {
                            <span class='label label-lg label-outline label-dark'>Đã hủy</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer text-right">
    @if ((Model.PaidType == 1 || Model.PaidType == 2) && Model.Status != 4)
    {
        <form id="onlineform" action="@Url.Action("PayOnlineNow", "Order")" class="form-horizontal padding-bottom-10" method="get">

            @Html.HiddenFor(p => p.Id)
            @Html.HiddenFor(p => p.OrderCode)
            <input type="submit" value="Thanh toán online ngay" class="btn btn-primary">
        </form>
        <button class="btn btn-danger" onclick="CancelOrder(@Model.Id)">Hủy đặt sân</button>
    }

    <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>



</div>
