@model SportsSocialNetwork.Models.ViewModels.PlaceViewModel
@using SportsSocialNetwork.Models.ViewModels
@{
    ViewBag.Title = "ViewDetail";
    Layout = "~/Views/Shared/_BookingFieldLayout.cshtml";
    var fieldSportList = ViewBag.fieldSport as List<FieldSportViewModel>;
}
@section Styles{
<style>
    .imgWH100 {
        width: 100%;
        vertical-align: middle;
        height: 100%;
    }

    .imgW100 {
        width: 100%;
        vertical-align: middle;
        min-height: 200px;
        max-height: 210px;
    }

    .example {
        position: relative;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

        .example .scrollable-horizontal .scrollable-content {
            width: 1400px;
        }

    * {
        box-sizing: border-box;
    }

    .slider {
        width: 100%;
        margin: 100px auto;
    }

    .slick-slide {
        margin: 0px 20px;
    }

        .slick-slide img {
            width: 100%;
        }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }

    .items {
        width: 100%;
    }

    .owl-carousel-shortcode .item {
        text-align: center;
    }

    .slider {
        margin: 0 0 10px;
        text-align: center;
    }

        .slider a {
            width: 100%;
            border: 5px solid #fff;
            height: 150px;
        }
</style>
}


<div class="col-md-9" style="float:left">
    <div class="panel col-md-12">
        <div class="panel-body" style="padding-top:50px">
            <div class="row padding15">
                <div class="col-md-12">
                    <div class="col-md-6" style="float:left">
                        <div class="overlay-container" style="height:210px">
                            @if (Model.Avatar != null && Model.Avatar != "")
                            {
                                <img src="@Model.Avatar" class='imgW100'>
                            }
                            else
                            {
                                <img src="~/Content/images/no_image.jpg" class='imgW100'>
                            }

                        </div>
                        <div class="overlay-container padding-top-10px">
                            <div id="averagePoint" style="font-size:50px;display:block;float:left;height:70px"></div>
                            <div style="display:block;float:left;padding-left:10px;height:70px">
                            <div style="font-size:14px;padding-top:18px;height:20px" id="rate1"></div>
                            <div id="numOfRate" style="font-size:14px;height:20px"></div></div>
                            <div style="display:block;float:left;padding-left:10px;height:70px;padding-top:18px"><button id="requestRate" class="btn btn-sm btn-default"><i class="fa fa-star" aria-hidden="true"></i> Đánh giá</button></div>
                        </div>
                    </div>
                    <div class="col-md-6" style="float:left">
                        <h2 class="detail_title">@Model.Name</h2>
                        <p>
                            <i class="fa fa-map-marker" title="Địa chỉ"></i> @Model.Address, Quận @Model.District, @Model.City
                        </p>
                        <p><i class="fa fa-phone" title="Điện thoại"></i> @Model.PhoneNumber </p>

                        <p>
                            <i class="fa fa-envelope-o" title="Time"></i> @Model.Email
                        </p>
                        <p>
                            <i class="fa fa-clock-o" title="Time"></i> @Model.StartTime.ToString() -@Model.EndTime.ToString()
                        </p>
                        <p id="status">
                            <i class="fa fa-exclamation-circle" title="status"></i> @ViewBag.PlaceStatus
                            </p>
                        <p>
                            @if (Model.Status==1 && fieldSportList.Count > 0 && fieldSportList != null)
                            {
                            <a href="@Url.Action("BookFieldNow","Order", new { id = Model.Id})" class="btn btn-block btn-success" style="margin-top:5px">Đặt ngay!</a>
                            }
                            else
                            {
                                <a class="btn btn-block btn-success disabled" style="margin-top:5px">Đặt ngay!</a>
                            }

                        </p>
                    </div>
                </div>
                <div class="col-md-12" style="padding:10px">
                    @Model.Description
                </div>
                <div class="col-md-12">
                    <iframe class="imgW100"
                            frameborder="0" style="border:0; height:300px"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDpvwUBhfVHfHInMF96nlTNiQhdRespJN0
    &q=@Model.Latitude,@Model.Longitude" allowfullscreen></iframe>
                </div>

            </div>
        </div>
    </div>

    <div class="panel col-md-12 padding-left-0 padding-right-0">
        <header class="panel-heading" style="background-color:#ff6a00; border-radius:0px">
            <h3 class="panel-title" style="font-family:sans-serif;color:#fff!important">Hình ảnh</h3>
        </header>
        <section class="regular slider">
            @if (ViewBag.placeImages.Count > 0 && ViewBag.placeImages != null)
            {
                foreach (var item in ViewBag.placeImages)
                {
                    <div>
                        <a class="inline-block magnific" href="@item.Image" title="@Model.Name"><img src="@item.Image" class='imgWH100 img-rounded'></a>
                    </div>

                }
            }
            else
            {
                <span>Hiện tại chưa có hình ảnh!</span>
            }
            
        </section>
    </div>


</div>
<div class="col-md-3" style="float:left">
    <div class="panel" style="text-align:center">
        <header class="panel-heading" style="background-color:#ff6a00; border-radius:0px">
            <h3 class="panel-title" style="font-family:sans-serif;color:#fff!important">Các sân tại địa điểm</h3>
        </header>
                <div class="example">
                    <div class="height-150" data-plugin="scrollable">
                        <div data-role="container">
                            <div data-role="content" >
                                <ul class="list-group list-group-dividered list-group-full">
                                    @if (fieldSportList != null && fieldSportList.Count > 0)
                                    {
                                        foreach (var item in fieldSportList)
                                        {
                                            <li class="list-group-item"><a style="display:block" href='/Field/Index/@item.FieldId'><p style="text-align:center;padding:0px;margin:0px"> @item.FieldName</p><p style="text-align:center;font-size:15px;padding:0px;margin:0px">(@item.Sport)</p></a></li>

                                        }
                                    }else
                                    {
                                        <li ><p style="text-align:center">Địa điểm chưa có sân nào</p></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
    </div>

    @if (ViewBag.lastestEvent != null)
            {
        <div class="masonry-item">
            <!-- Widget -->
            <header class="panel-heading text-center" style="background-color:#ff6a00; border-radius:0px">
                <h3 class="panel-title" style="font-family:sans-serif;color:#fff!important">Sự kiện gần đây nhất</h3>
            </header>
            <div class="widget widget-article widget-shadow">
                <div class="widget-header cover overlay overlay-hover">
                    <img class="cover-image overlay-scale" src="@ViewBag.lastestEvent.Image" style="max-height:175px">
                </div>
                <div class="widget-body" style="text-align:center">
                    <h3 class="widget-title">@ViewBag.lastestEvent.Name</h3>
                    <div class="widget-body-footer padding-bottom-15 margin-top-0">
                        <a class="btn btn-primary" href="@Url.Action("ViewDetail", "Event", new { id = @ViewBag.lastestEvent.Id })">Xem chi tiết</a>
                    </div>
                    <a href="@Url.Action("PlaceEvent", "Event", new { id = Model.Id })">Xem sự kiện khác của sân</a>
                </div>
            </div>
            <!-- End Widget -->
        </div>
    }
    else
    {

    }
</div>
<div id="ratingForm" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                <h4 class="modal-title text-center">Đánh giá địa điểm này</h4>
            </div>
            <div class="modal-body text-center" id="rating">
                <div id="rate2"></div>
            </div>
            <div class="modal-footer text-center">
                <div class="form-actions">
                    <button class="btn btn-primary" id="submitRating" type="button">Đánh giá</button>
                    <button class="btn btn-default" data-dismiss="modal" type="button">Hủy bỏ</button>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts{
    <script>

        $("#requestRate").click(function(){
            $('#ratingForm').modal('show');
        });

        function loadMyRate(){
            $.ajax({
                type: 'POST',
                url: '@Url.Action("LoadRating", "Place")',
                async: false,
                data: { placeId: @Model.Id },
                dataType: 'json',
                success: function (data) {
                    if (data.Succeed) {
                        $('#rate2').empty();
                        $('#rate2').shieldRating({
                            max: 5,
                            step: 1,
                            value: data.AdditionalData.AverageRate,
                        });
                    } else {
                        showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                    }
                },
                error: function (data) {
                    showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                },
            });
        }

        function checkAvailableTime() {
            var dt = new Date();
            var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
            if(time > '@Model.EndTime' || time < '@Model.StartTime'){
                $("#status").html("");
                $("#status").html('<i class="fa fa-exclamation-circle" title="status"></i> Hết giờ hoạt động');
            }
        }

        (function (document, window, $) {
            'use strict';
            var Site = window.Site;
            $(document).ready(function ($) {
                Site.run();
            });

        })(document, window, jQuery);


        $(document).ready(function () {

            checkAvailableTime();
            loadMyRate();
            $(".regular").slick({
                dots: true,
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 3
            });

            $('#exampleGallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                tLoading: 'Loading image #%curr%...',
                mainClass: 'mfp-img-mobile',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
                },
                image: {
                    tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                    titleSrc: function (item) {
                        return item.el.attr('title') +
                          '<small>by amazingSurge</small>';
                    }
                }
            });

            getRateInfo(@Model.Id);
        });

        $("#submitRating").click(function () {
            var score = $("#rate2").swidget().value();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Rating", "Place")',
                data: { placeId: @Model.Id, score: score },
                success: function (data) {
                    if (data.Succeed) {
                        getRateInfo(@Model.Id);
                        loadMyRate();
                        $('#ratingForm').modal('toggle');
                        showMessage("Đánh giá thành công", "success", "OK");
                    } else {
                        showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                    }
                },
                error: function (data) {
                    showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                },
            });
        })

        $('#rate1').mouseover(function(){
            $('#rate1').swidget().enabled(false);
        })

        $('#rate1').mouseout(function(){
            $('#rate1').swidget().enabled(true);
        })

        function getRateInfo(id) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetRateInfo", "Place")',
                async: false,
                data: { id: id },
                dataType: 'json',
                success: function (data) {
                    if (data.Succeed) {
                        $("#averagePoint").empty();
                        $("#averagePoint").append(data.AdditionalData.AverageRate);
                        $("#numOfRate").empty();
                        $("#numOfRate").append("<i class='fa fa-user'></i> "+data.AdditionalData.NumberOfRate);
                        $('#rate1').empty();
                        $('#rate1').shieldRating({
                            max: 5,
                            value: data.AdditionalData.AverageRate,
                            markPreset: false
                        });
                    } else {
                        showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                    }
                },
                error: function (data) {
                    showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                },
            });
        }
    </script>
}
